.tf-landingHeader{
  background-color: $white;
  margin-bottom: 15px;
  @extend .box-shadow;
}

header{
  .tf-header{
    max-width: $container_width;
    margin: 0 auto;
    height: 55px;
    padding: 0 15px;
    @extend .flex;
    @extend .align-center;
    @extend .border-box;
    .tf-brandLogo{
      width: 70px;
    }
    .tf-nav{
      margin-bottom: 0;
      flex: 1;
      @extend .flex;
      @extend .align-center;
      @extend .justify-end;
      li{
        a{
          position: relative;
          padding: 20px 15px;
          font-size: 14px;
          font-weight: 500;
          color: $deep_grey;
          @include transition(250ms);
          &:hover, &:focus{
            color: $brand_base;
            text-decoration: none;
            background-color: rgba(33, 66, 137, 0.04);
            &:after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: rgba(33, 66, 137, 0.3);
            }
          }
        }
        .active{
          color: $brand_base;
          text-decoration: none;
          background-color: rgba(33, 66, 137, 0.1);
          &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $brand_base;
          }
        }
      }
    }
  }
}
