// flex
.flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.flex-direction {
    flex-direction: row;
    -webkit-flex-direction: row;
}
.flex-column {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.inline-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
}
.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.align-center {
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.align-baseline {
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
.align-end {
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.justify-space {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
.space-around {
    -webkit-align-content: space-around;
    align-content: space-around;
}
.flex-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-align: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-align: flex-end;
    -webkit-box-align: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-basic-50{
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.flex-basic-auto{
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.flex-basic-0{
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.d-table {
    display: table;
}
.d-it {
    display: inline-table;
}
.d-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.d-block{
  display: block;
}
.d-ib{
  display: inline-block;
}
.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.word-break {
    -ms-word-break: break-all;
    word-break: break-all;
    // Non standard for webkit
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.border-box{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.content-box{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
            
}

.box-shadow{
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
}

.imgFill {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.transition {
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}


@mixin rotate($deg) {
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
.appearance_none{
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;  
}


.thin {
    font-weight: 300;
}
.Section {
    padding: 70px 30px 90px;
    border-bottom: 1px solid #f3f3f3;
}
.vh100 {
    height: 100vh;
}
.Profile-default {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.rounded{
  border-radius: 50px;
}

.manipulation{
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.b-h{
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: -15px;
    width: 1px;
    height: 100%;
    background: #F5F5F5;
}

.card-shadow{
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.02);
    border: 1px solid #cdddff;
}
.box-shadow{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
}
.box-shadow1{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//scrollbar


//Task catagory
.taskRequest{
  border-left: 2px solid rgba(52, 152, 219,1) !important;
}
.taskProcess{
  border-left: 2px solid rgba(243, 156, 18,1) !important;
}
.taskCancelled{
  border-left: 2px solid rgba(231, 76, 60,1) !important;
}
.taskCompleted{
  border-left: 2px solid rgba(46, 204, 113,1) !important;
}


//task color
.c-request{
   color: rgba(52, 152, 219,1.0) !important;
}
.c-process{
   color: rgba(243, 156, 18,1.0) !important;
}
.c-cancel{
   color: rgba(231, 76, 60,1.0) !important;
}
.c-completed{
   color: rgba(46, 204, 113,1.0) !important;
}
//task background
.bg-request{
   color: rgba(52, 152, 219,1.0) !important;
}
.bg-process{
   color: rgba(243, 156, 18,1.0) !important;
}
.bg-cancel{
   color: rgba(231, 76, 60,1.0) !important;
}
.bg-completed{
   color: rgba(46, 204, 113,1.0) !important;
}

