// _button.scss

.btn {
  display: inline-block;
  background-color: $white;
  padding: 5px 20px;
  // min-width: 130px;
  font-size: 15px;
  font-weight: 500 !important;
  border-radius: 3px !important;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid;
  line-height: 27px;
  cursor: pointer;
  @extend .manipulation;
  @extend .select-none;
  @extend .transition;
}
.btn:disabled{
  color: $form_border;
  background-color: $grey_tint_1;
  border-color: $form_border;
  cursor: not-allowed;
  &:hover, &:focus{ 
    color: $form_border;
    background-color: $grey_tint_1;
    border-color: $form_border;
  }
}

.btn-brand {
  color: $grey_tint_1;
  background-color: $brand_base;
  border-color: $brand_base;
  &:hover, &:focus{
    color: $white;
    background-color: #153c92;
    border-color: #153c92;
  }
}
.btn-second {
  color: $white;
  background-color: $brand_second;
  border: 2px solid $brand_second;
  &:hover, &:focus{
    color: $brand_second;
    background-color: $white;
    border: 2px solid $brand_second;
  }
}

.btn-success{
  color: $white;
  border: 2px solid rgba(28, 144, 90, 0.86);
  background-color: rgba(28, 144, 90, 0.86);
  &:hover, &:focus{
    color: rgba(28, 144, 90, 0.86);
    background-color: $white;
    border: 2px solid rgba(28, 144, 90, 0.86);
  }
}

.btn-default {
  color: $white;
  background-color: $grey;
  border-color: $grey; 
  &:hover, &:focus{
    color: $white;
    background-color: $deep_grey;
    border-color: $deep_grey; 
  }
}

.btn-transperent {
  color: $link;
  background-color: transparent;
  &:hover, &:focus{
    color: $link_hover;
    background-color: transparent;
  }
}

.btn-close {
  color: $btn_close;
  background-color: transparent;
  &:hover, &:focus{
    color: $btn_close_hover;
    background-color: transparent;
  }
}
.btn-danger {
  color: $white;
  background-color: $btn_close;
  &:hover, &:focus{
    color: $white;
    background-color: $btn_close_hover;
  }
}

.btn-loop{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 30px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0px 1px 1px $brand_base;
}


.btn-follow{
  display: block;
  background-color: $brand_base;
  color: $white;
  padding: 5px 20px;
  min-width: 110px;
  font-size: 15px;
  font-weight: 400;
  border: 2px solid $brand_base;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  line-height: 21px;
  cursor: pointer;
  @extend .manipulation;
  @extend .select-none;
  @extend .transition;
  &:hover, &:focus{
    color: $brand_base;
    background-color: $white;
    border: 2px solid $brand_base;
  }
}

// button size

.btn-full{
  width: 100%;
  display: block;
  @extend .border-box;
}


//Button with Borders

.btn-withborder{
  border-radius: $border_radius_xs;
  background-color: rgba(33, 66, 137, 0.02);
  color: $brand_base;
  border: 1px solid rgba(33, 66, 137, 0.3);
}



//Task buttons



.btn-taskcancel{
  font-weight: 500 !important;
  line-height: 24px !important;
  border: none !important;
  background-color: $cancelled_task_btn !important;
  color: $white !important;
}

.btn-jobdone{
  font-weight: 500 !important;
  line-height: 24px !important;
  border: none !important;
  background-color: $completed_task_btn !important;
  color: $white !important;
}

.btn-taskaccept{
  font-weight: 500 !important;
  line-height: 24px !important;
  border: none !important;
  background-color: $request_task_btn !important;
  color: $white !important;
}
.btn-taskdisable{
  font-weight: 500 !important;
  line-height: 24px !important;
  border: none !important;
  background-color: #b5b5b5 !important;
  color: $white !important;
}



.s{
  font-size: $font_size_s !important;
  line-height: 23px;
}
.l{
  font-size: $font_size_l !important;
  line-height: 35px;
  padding: 0 20px;
}
.xl{
  font-size: $font_size_xl !important;
  line-height: 40px;
  padding: 0 20px;
}
