// $highlightColorActive: $brand_base;

// @mixin square($dim) {
//   width: $dim;
//   height: $dim;
// }

// @mixin rotate($dim){
//   -moz-transform: rotate($dim);
//   -ms-transform: rotate($dim);
//   -webkit-transform: rotate($dim);
//   transform: rotate($dim);
// }

// .control-inline label {
//   display: inline;
// }

// :not(#foo) .checkbox {
//   position: absolute; 
//   opacity: 0; 

//   & + label {
//     position: relative;
//     cursor: pointer;
//     padding: 0;
//     @extend .d-flex;
//     @extend .align-center;
//     @extend .select-none;
//   }

//   & + label:before {
//     content: '';
//     margin-right: 10px;
//     display: inline-block;
//     vertical-align: text-top;
//     @include square(20px);
//     border: 1px solid $border_grey;
//     background: $white;
//     border-radius: $border_radius_xs;
//   }

//   &:hover + label:before {
//     background: $border_grey;
//     border: 1px solid $border_grey;
//   }

//   &:checked + label:before {
//     background: $highlightColorActive;
//     border: 1px solid $highlightColorActive;
//   }
  
//   // Disabled state
//   &.disabled + label,
//   &[disabled] + label {
//     color: #b8b8b8;
//   }
//   &.disabled + label:before,
//   &[disabled] + label:before {
//     box-shadow: none;
//     background: #ddd;
//   }

//   // Checkmark. Could be replaced with an image
//   &:checked + label:after {
//     content: '';
//     position: absolute;
//     left: 6px;
//     top: 10px;
//     background: $white;
//     @include square(2px);
//     box-shadow: 
//       1px 0 0 $white,
//       2px 0 0 $white,
//       3px 0 0 $white,
//       4px 0 0 $white,
//       4px -1px 0 $white,
//       4px -2px 0 $white,
//       4px -3px 0 $white,
//       4px -4px 0 $white,
//       4px -5px 0 $white,
//       4px -6px 0 $white,
//       4px -7px 0 $white,
//       4px -8px 0 $white;
//       @include rotate(45deg);
//   }
// }

// //small checkbox
// :not(#foo) .checkbox-s {
//   position: absolute; 
//   opacity: 0; 

//   & + label {
//     position: relative;
//     cursor: pointer;
//     padding: 0;
//     @extend .d-flex;
//     @extend .align-center;
//     @extend .select-none;
//   }

//   & + label:before {
//     content: '';
//     margin-right: 10px;
//     display: inline-block;
//     vertical-align: text-top;
//     @include square(15px);
//     border: 1px solid $border_grey;
//     background: $white;
//     border-radius: $border_radius_xs;
//   }

//   &:hover + label:before {
//     background: $border_grey;
//     border: 1px solid $border_grey;
//   }

//   &:checked + label:before {
//     background: $highlightColorActive;
//     border: 1px solid $highlightColorActive;
//   }
  
//   // Disabled state
//   &.disabled + label,
//   &[disabled] + label {
//     color: #b8b8b8;
//   }
//   &.disabled + label:before,
//   &[disabled] + label:before {
//     box-shadow: none;
//     background: #ddd;
//   }

//   // Checkmark. Could be replaced with an image
//   &:checked + label:after {
//     content: '';
//     position: absolute;
//     left: 3px;
//     top: 8px;
//     background: $white;
//     @include square(2px);
//     box-shadow: 
//       1px 0 0 $white,
//       2px 0 0 $white,
//       3px 0 0 $white,
//       4px 0 0 $white,
//       4px -1px 0 $white,
//       4px -2px 0 $white,
//       4px -3px 0 $white,
//       4px -4px 0 $white,
//       4px -5px 0 $white,
//       4px -6px 0 $white,
//       4px -7px 0 $white,
//       4px -8px 0 $white;
//       @include rotate(45deg);
//   }
// }

// .tf-checkbox{
//   label{
//     @extend .flex;
//     @extend .align-center;
//     .checkbox-label{
//       font-size: 13px;
//       color: $grey;
//     }
//   }
// }


// :not(#foo) .checkbox-m {
//   position: absolute; 
//   opacity: 0; 

//   & + label {
//     position: relative;
//     cursor: pointer;
//     padding: 0;
//     @extend .d-flex;
//     @extend .align-center;
//     @extend .select-none;
//   }

//   & + label:before {
//     content: '';
//     margin-right: 10px;
//     display: inline-block;
//     vertical-align: text-top;
//     @include square(15px);
//     border: 1px solid $border_grey;
//     background: $white;
//     border-radius: $border_radius_xs;
//   }

//   &:hover + label:before {
//     background: $border_grey;
//     border: 1px solid $border_grey;
//   }

//   &:checked + label:before {
//     background: $highlightColorActive;
//     border: 1px solid $highlightColorActive;
//   }
  
//   // Disabled state
//   &.disabled + label,
//   &[disabled] + label {
//     color: #b8b8b8;
//   }
//   &.disabled + label:before,
//   &[disabled] + label:before {
//     box-shadow: none;
//     background: #ddd;
//   }

//   // Checkmark. Could be replaced with an image
//   &:checked + label:after {
//     content: '';
//     position: absolute;
//     left: 3px;
//     top: 21px;
//     background: $white;
//     @include square(2px);
//     box-shadow: 
//       1px 0 0 $white,
//       2px 0 0 $white,
//       3px 0 0 $white,
//       4px 0 0 $white,
//       4px -1px 0 $white,
//       4px -2px 0 $white,
//       4px -3px 0 $white,
//       4px -4px 0 $white,
//       4px -5px 0 $white,
//       4px -6px 0 $white,
//       4px -7px 0 $white,
//       4px -8px 0 $white;
//       @include rotate(45deg);
//   }
// }