.tf-background-color{
  padding: 15px;
  background: #ffffff !important;
}

.tf-background-color {
  content: " ";
  display: table;
}
.tf-background-color {
  content: " ";
  display: table;
  clear: both;
}


.tf-image-upload{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 1px solid rgba(220, 220, 220, 0.5);
}

.tf-coverRange-slider{
  @extend .flex;
  @extend .align-center;
}

.com_width{
  max-width: $container_width;
  /* width: $container_width; */
  margin: 0 auto;
  padding: 0px 15px;
}

.tf-company-socialLink{
  position: relative;
  left: -30px;
}

.app-Container{
  position: relative;
  height: 100%;
  @extend .com_width;
  @extend .border-box;
}

.tf-appContianer{
  @extend .com_width;
  @extend .border-box;
}

.app-mainSpace{
  margin-top: 15px;
}

/* Images */
.tf-postProfile-icon {
  @include sizing(40px);
  border-radius: $border_radius_rounded;
  cursor: pointer;
  border: $border;
  @extend .imgFill;
}

/* Header Style */
.tf-Profiledetails-header{
  margin: 10px 0px;
  @extend .flex;
    h2{
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0px;
      color: $brand-base;
      position: relative;
      &:before{
        content : "";
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: -10px;
        width: 150%;
        height: 2px;
        background: #e8e8e8;
      }
      &:after{
        content : "";
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: -10px;
        width: 100%;
        height: 2px;
        background: $brand-base;
      span{
        margin-left: 10px;
        font-size: 15px;
        color: #36ABF9;
        i{
          
        }
      }
    }
  }
}

.tf-userprofile-nav{
  ul{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.31);
    @extend .flex;
    @extend .align-center;
    li{
      padding: 0px 45px 0px 0px;
      text-align: center;
      a{
        text-decoration: none;
        color: $brand-base;
        font-size: 15px;
        font-weight: 400;
      }
      &:hover{
        color: $brand-base;
      } 
    
}  }
}

.tf-restaurantdetails-edit{
  @extend .inline-flex;
  @extend .align-center;
  .tf-restaurantdetails-abt{
    text-align: right;
    font-size: 28px;
    font-weight: 300;
    color: #000;
  }
}





//img upload

.cpp{
  padding-left: 15px;
  width: 23% !important;
}

.tf-profiletab{
  padding: 15px;
  background-color: $white;
}

.tf-toptitle-company{
  text-decoration: none;
  color: $black;
  &:hover{
    text-decoration: none;
    color: $black;
  }
}

.tf-company-profile{
  .tf-company-coverImage{
    position: relative;
    width: 100%;
    height: 297px;
    margin-top: -15px;
    border-radius: 0 0 $border_radius_xs $border_radius_xs;
    background-color: rgba(0, 0, 0, 0.5);
    @extend .imgFill;
    z-index: 0;
    .tf-cover-imageAction{
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 99;
      opacity: 0;
      @extend .transition;
      i{
        color: #fff;
        font-size: 24px;
        line-height: 50px;
      }
      .modal-open{
        display: block;
        background: rgba(0, 0, 0, 0.32);
        width: 70px;
        height: 70px;
        text-align: center;
        border-radius: 0 0 0 70px;
        opacity: 0.6;
        @extend .transition;
        &:hover{
          opacity: 1;
        }
        img{
          width: 40px;
          position: absolute;
          top: 5px;
          right: 5px;
          margin: auto;
        }
      }
    }
    &:hover{
      .tf-cover-imageAction{
        opacity: 1;
      }
    }
  }
  .tf-company-profileArea{
    position: relative;
    padding: 15px;
    @extend .border-box;
    .tf-company-profileImage{
      width: 250px;
      height: 325px;
      background-size: cover;
      border-radius: $border_radius_xs;
      position: absolute;
      top: -165px;
      .tf-dp-imageAction{
        position: absolute;
        @include positionFull(0);
        opacity: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.33);
        border-radius: $border_radius_xs;
        @extend .transition;
        .dp-upload{
          position: absolute;
          @include positionFull(0);
          img{
            position: absolute;
            @include positionFull(0);
            margin: auto;
            width: 60px;
          }
        }
      }
      &:hover{
      .tf-dp-imageAction{
        opacity: 1;
      }
    }
  }
}
  .tf-company-activityNav{
    margin: -63px -15px 0px -15px;
    .tf-company-activity{
      padding: 8px 10px 8px 285px;
      background-color: rgba(0,0,0,0.55);
      border-radius: 0 0 $border_radius_xs $border_radius_xs;
      @extend .flex;
      @extend .align-center;
      .tf-company-follow{
        flex: 1;
        @extend .flex;
        @extend .align-center;
        li{
          margin-right: 30px;
          a{
            cursor: pointer;
            text-decoration: none;
            @extend .flex;
            @extend .align-center;
            i{
              margin-right: 5px;
              font-size: 17px;
              color: $white;
            }
            span, h3{
              margin-right: 5px;
              font-size: 15px;
              font-weight: 600;
              color: $white;
            }
          }
          p{
            margin-right: 5px;
            font-size: 15px;
            font-weight: 600;
            color: $white;
          }
        }
      }
      .tf-company-contact{
        @extend .flex;
        @extend .align-center;
        li{
          margin-left: 25px;
          a{
            cursor: pointer;
            text-decoration: none;
            @extend .flex;
            @extend .align-center;
            i{
              margin-right: 5px;
              font-size: 17px;
              color: $white;
            }
            span, h3{
              margin-right: 5px;
              font-size: 15px;
              font-weight: 600;
              color: $white;
            }
            p{
              margin-right: 5px;
              font-size: 15px;
              font-weight: 600;
              color: $white;
            }
          }
        }
      }
    }
  }


    .tf-top-title{
     font-size: 20px !important; 
     padding-left: 0px !important;
     margin:0px !important;
    }

  .tf-company-ProfileDetails{
    margin: 20px 0px 10px;
    padding-left: 270px;
    .tf-company-profileName{
      .tf-company-Name{
        font-size: 30px;
        font-weight: 700;
        color: $black;
        a{
          text-decoration: none;
          color: $black;
        }
        span{
          margin-left: 5px;
          font-size: 25px;
          color: $brand_second;
        }
        .tf-title-verify{
          font-size: 17px !important;
        }
      }

      .tf-company-Address{
        font-size: 13px;
        font-weight: 600;
        color: #3e3e3e; 
        padding: 2px 0px 10px;
      }
      .tf-company-CategoryName{
        padding: 5px 0px 10px;
        @extend .flex;
        @extend .align-center;
        li{
          margin-right: 5px;
          a{
            text-decoration: none;
            display: inline-block;
            padding: 0px 7px;
            border-radius: 2px;
            line-height: 19px;
            background-color: rgba(33, 66, 137, 0.02);
            color: $brand_base;
            font-size: 11px;
            font-weight: 600;
            border: 1px solid rgba(33, 66, 137, 0.3);
            text-transform: capitalize;
            &:hover{
              color: $deep_blue;
              border: 1px solid $deep_blue;
            }
          }
        } 
      }
    }
    .tf-company-discription{
      h3{
      padding: 10px 0px 0px;
      color: $brand_base;
      font-size: 15px;
      font-weight: 600;  
      }
      p{
        padding: 3px 0px 0px;
        color: #7b7b7b;
        font-size: 13px;
      }
    }
  }
}

.tf-companyBanner{
  width: 250px !important;
  height: 325px !important;
  margin: 20px auto;
  .box-coverUpload{
    text-align: center;
    position: relative;
    height: 325px !important;
    .tf-boxUploadArea{
      position: absolute;
      width: 100%;
      margin-top: 70px;
      img{
        width: 70px;
      }
      span{
        color: $border_grey;
        font-size: 21px;
        font-weight: 300;
        letter-spacing: -1px;
        padding: 20px;
      }
    }
    span{
      display: block;
    }
    label{
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      bottom: 0px;
      left: 0;
      line-height: 40px;
      z-index: 9;
      &:hover{
        background: rgba(0,0,0,0.8);
      }
    }
  }
}

.tf-companyHead-details{
  margin-top: -5px;
  margin-bottom: 25px;
  @extend .flex;
  @extend .align-center;
  .tf-companyReivew {
    width: 200px;
    text-decoration: none;
    @extend .flex;
    @extend .align-center;
    .tf-companyReview-value{
      flex: 1;
      font-size: 15px;
      margin-left: 10px;
      font-weight: 800;
      color: $brand_second; 
    }
    .tf-companyReview-star{
      @extend .flex;
      @extend .align-center;
      li{
        position: relative;
        margin-left: 5px;
        i{
          font-size: 19px;
          color: #afafaf;
          @extend .flex;
          @extend .align-center;
        }
      }
    }
  }
  
}

.tf-companyShow-section{
  position: relative;
  width: 100%;
  .tf-companyTop-info{
    max-width: 1170px;
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    z-index: 99;
    margin: 0px auto;
    padding: 0 15px;
    @extend .border-box;
    .tf-companyTop-value{
      min-height: 50px;
      padding: 0 15px;
      background: $white;
      box-shadow: 0px 1px 3px #DDD;
      @extend .flex;
      @extend .align-center;
      .tf-companyTop-title{
        flex: 1;
        @extend .flex;
        @extend .align-center;
        h3{
          font-size: 17px;
          color: $black;
        }
        .tf-companyReivew {
          margin-left: 25px;
          text-decoration: none;
          @extend .flex;
          @extend .align-center;
          .tf-companyReview-value{
            flex: 1;
            font-size: 20px;
            margin-left: 15px;
            font-weight: 800;
            position: relative;
            top: -3px;
            color: $brand_second; 
          }
          .tf-companyReview-star{
            @extend .flex;
            @extend .align-center;
            li{
              position: relative;
              margin-left: 5px;
              i{
                font-size: 25px;
                color: #afafaf;
                @extend .flex;
                @extend .align-center;
              }
            }
          }
        }
      }
      .tf-companyTop-actions{
        ul{
          @extend .flex;
          @extend .align-center;
          li{
            margin-left: 20px;
            @extend .flex;
            @extend .align-center;
            a{
              font-size: 13px;
              font-weight: 400;
              color: $grey;
              text-decoration: none;
              @extend .transition;
              @extend .flex;
              @extend .align-center;
              i{
                margin-right:5px;
                font-size: 17px;
              }
              span{
                margin-right: 5px;
              }
              &:hover, &:focus{
                color: $black;
              }
            }
            .btn{
              color: $white;
              &:hover, &:focus {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

.tf-companyprofile-CategoryName{
  margin-bottom: -7px;
  li{
    margin-right: 5px;
    margin-bottom: 7px;
    display: inline-block;
    a{
      text-decoration: none;
      display: inline-block;
      padding: 1px 7px;
      border-radius: 2px;
      line-height: 19px;
      background-color: rgba(33, 66, 137, 0.02);
      color: $brand_base;
      font-size: 11px;
      font-weight: 600;
      border: 1px solid rgba(33, 66, 137, 0.3);
      text-transform: capitalize;
      &:hover{
        color: $deep_blue;
        border: 1px solid $deep_blue;
      }
    }
  } 
}

.tf-main-catogeryName{
    margin-right: 5px;
    display: inline-block;
    a{
      text-decoration: none;
      display: inline-block;
      padding: 1px 7px;
      border-radius: 2px;
      line-height: 19px;
      background-color: rgba(33, 66, 137, 0.02);
      color: $brand_base;
      font-size: 11px;
      font-weight: 600;
      border: 1px solid rgba(33, 66, 137, 0.3);
      text-transform: capitalize;
      &:hover{
        color: $deep_blue;
        border: 1px solid $deep_blue;
      }
    }
  }

.star{
  fill: #e2e2e2;
}


.star-over {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: none !important;
}

// .star-visible {
//   fill: $brand_second !important;

// }
.star-visible {
  color: $brand_second !important;
  display: block !important;
} 

.tf-verifyGrey{
  color: $form_border !important;
}

.tf-companyProfileDetails{
  @extend .flex;
  .tf-companyInfos{
    flex: 1;
  }
  .tf-companyInfo-media{
    top: 10px;
    margin-left: 10px;
    width: 400px;
    @extend .flex;
    @extend .justify-end;
    .grid-img2{
      width: 300px;
      text-align: right;
      a{
        width: 95px;
        height: 100px;
        .tf-profileGalleryThumb{
          @include sizing(100px);
        }
      }
      .grid-img{
        width: 100px;
      }
    }
    .grid-img4{
      overflow: hidden;
      margin-left: 0px;
      flex: 1;
      border-radius: $border_radius_xs;
      .tf-companyGallery-all{
        position: absolute;
        @include positionFull(0);
        z-index: 1;
        background-color: $black_trans3;
        span{
          display: block;
          text-align: center;
          line-height: 100px;
          color: $white;
          font-weight: 300;
          font-size: 13px;
        }
      }
      .grid-img{
        @include sizing(50px);
        @extend .imgFill;
      }
    }
    
  }
}

.tf-tabletCompany-profile{
  .tf-cover-imageAction{
    opacity: 1 !important;
  }
  .tf-company-coverImage{
    margin: -15px -15px;
    padding-right: 30px;
  }
  .profile-show-panel{
    padding: 0px 0 20px 15px;
    margin: 0;
  }
  .tf-dp-imageAction{
    opacity: 1 !important;
  }
  .dp-upload img{
    top: initial !important;
    left: initial !important;
    right: 10px !important;
    bottom: 10px !important;
    width: 50px !important;
  }
  .tf-company-profileArea{
    padding: 0 0 15px !important;
  }
  .tf-company-activityNav{
    margin-top: -48px;
  }
  .tf-companyTop-info{
    padding: 0px;
  }
}

.tf-mobileCompany-profile{
  padding: 0;
  .tf-cover-imageAction{
    opacity: 1 !important;
    .modal-open{
      //background: transparent !important;
      width: 50px !important;
      height: 50px !important;
      img{
        width: 30px !important;
      }
    }
  }
  .tf-postChooseTitle{
    font-size: 14px !important;
  }
  .tf-mobilefeed-list{
    // margin: 0 -15px;
    li{
      .tf-postCard-main{
        margin-top: 10px;
        .tf-postProfile-icon{
          width: 40px;
          height: 40px;
          span{
            line-height: 30px;
          }
        }
        .tf-sr-button{
          display: none;
        }
        .tf-post-card-profileName{
          h3{
            font-size: 12px;
          }
          p{
            font-size: 10px;
            font-weight: 300;
            margin-top: 5px;
          }
        }
        .tf-post-card-profileName{
          top: 0px;
        } 
      }
    }
    .tf-post-card-profileName{
      margin-left: 10px !important;
    }
    .tf-postRequest{
      .tf-post-card{
        border-left: none;
        border-top: 2px solid $completed_task_btn;
      }
    }
  }
  .Profile-tab-list{
    // margin: 0 -15px;
  }
  .tf-post-section{
    // margin: 0 -15px;
  }
  .tf-company-coverImage{
    margin: -15px 0px;
    // padding-right: 30px;
    height: 215px;
  }
  .tf-company-profileArea{
    padding: 0 0 0px !important;
    margin: -110px 0px 0;
    top: 0;
  }
  .tf-mobileCompany-title{
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.56) 61%, rgba(0,0,0,0.96) 98%, rgba(0,0,0,0.96) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(9%, rgba(0,0,0,0)), color-stop(61%, rgba(0,0,0,0.56)), color-stop(98%, rgba(0,0,0,0.96)), color-stop(100%, rgba(0,0,0,0.96)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.56) 61%, rgba(0,0,0,0.96) 98%, rgba(0,0,0,0.96) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.56) 61%, rgba(0,0,0,0.96) 98%, rgba(0,0,0,0.96) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.56) 61%, rgba(0,0,0,0.96) 98%, rgba(0,0,0,0.96) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 9%, rgba(0,0,0,0.56) 61%, rgba(0,0,0,0.96) 98%, rgba(0,0,0,0.96) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    padding: 15px;
    margin-top: 10px;
    @extend .flex;
    @extend .flex-start;
    .tf-company-profileImage{
      width: 70px !important;
      height: 70px !important;
      position: relative !important;
      top: 10px !important;
    }
    .tf-mobileTitle-info{
      flex: 1;
      margin: 10px 0px 0px 10px;
      .tf-company-Name{
        a{
          color: $white;
          font-size: 16px;
        }
        span{
          .ion-checkmark-circled{
            color: $green;
          }
        }
      }
      .tf-company-Address{
        color: $grey_tint;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }

  .tf-mobileRating-section{
    padding: 15px;
    margin-bottom: 0px;
    @extend .flex;
    @extend .align-end;
    .tf-companyHead-details{
      flex: 1;
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -5px;
      .tf-companyMobile{
        flex: 1;
        font-size: 15px;
        color: $brand_second;
        font-weight: 700;
        margin-left: 5px;
        margin-top: 5px;
        @extend .flex;
        @extend .align-center;
        i{
          font-size: 15px;
          margin-right: 10px;
          color: $brand_second;
        }
      }
    }
    
  }

  .tf-company-ProfileDetails{
    padding: 0px 15px;
    margin: -5px 0 5px;
  }
  .profile-show-panel{
    padding: 0px 0 20px 15px;
    margin: 0;
  }
  .tf-dp-imageAction{
    opacity: 1 !important;
  }
  .dp-upload img{
    top: initial !important;
    left: initial !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 30px !important;
  }
  .tf-company-activityNav{
    margin-top: -48px;
  }
  .tf-companyTop-info{
    padding: 0px;
  }
  .profile-tab{
    @extend .flex-column;
    .Profile-tab-list{
      width: 100% !important;
      z-index: 100 !important;
      position: relative;
      @extend .border-box;
      &:after {
        position: absolute;
        content: '';
        right: 0px;
        top: 0;
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(243,243,243,0) 21%, rgba(255,255,255,0.02) 22%, rgba(255,255,255,1) 81%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(21%, rgba(243,243,243,0)), color-stop(22%, rgba(255,255,255,0.02)), color-stop(81%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(243,243,243,0) 21%, rgba(255,255,255,0.02) 22%, rgba(255,255,255,1) 81%);
        background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(243,243,243,0) 21%, rgba(255,255,255,0.02) 22%, rgba(255,255,255,1) 81%);
        background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(243,243,243,0) 21%, rgba(255,255,255,0.02) 22%, rgba(255,255,255,1) 81%);
        background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(243,243,243,0) 21%, rgba(255,255,255,0.02) 22%, rgba(255,255,255,1) 81%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
        height: 99%;
        width: 50px;
      }
      .next-iconNav{
        position: absolute;
        top: 19px;
        right: 10px;
        z-index: 99;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.3);
      }
      .tf-profileTabList{
        position: relative;
        padding: 10px 30px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        li{
          display: inline-block;
          .tab-active{
            box-shadow: none;
          }
          a{
            padding: 10px;
            margin: 0px;
            display: block;
            text-align: center;
            &:hover, &:active {
              box-shadow: none;
            }
          }
        }
      }
    }
    .profile-show-panel{
      padding: 0px;
      margin: 10px 0 0 0;
    }
  }
  .tf-profileTabSection{
    padding: 15px;
  }
  .tf-companydetail-section{
    .tf-companyMain{
      h6{
        font-size: 15px;
      }
      .tf-companyFounded{
        font-size: 15px;
      }
    }
    .tf-companyBody{
      .tf-companySection{
        display: block;
      }
    }
  }

  .tf-companyAddress-lists{
    li{
      padding: 10px;
    }
  }


  .tf-companyBody{
    .tf-companyLink{
      font-size: 15px;
    }
  }

  //Mobile editaction before

  .tf-comapnyEdit-done{
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1;
  }

  .tfm-companyclose-top{
    margin-top: 30px;
  }

  .tf-social-profile-link{
    margin: 0px 16px 0px 0px !important;
    .tf-social-profile-company{
      a{
        i{
          font-size: 18px;
        }
      }
    }
  }
}
//Mobile end
@media (max-width: 1100px) {
  .tf-companyInfo-media {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .tf-post-section .tf-post-sectionHeader{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    height: 90px;
  }
  .tf-postChooseTitle{
    width: 100%;
    flex: initial !important;
    text-align: center;
  }
  .tf-companySwitchDrop{
    margin-top: 0px;
  }
  .tf-post-card-profileName{
    top: 0;
  }
  .tf-post-card-Header{
    margin-bottom: 15px;
  }
  .tf-postProfile-icon{
    top: 0px !important;
  }
}


.cropit-preview {
  /* You can specify preview size in CSS */
  width: 960px;
  height: 540px;
}

  .cropit-preview {
      background-color: #f8f8f8;
      background-size: cover;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 7px;
  }

  .image-editor {
      overflow: hidden;
  }

  .cropit-preview-background {
      opacity: .2;
  }

  .cropit-preview-image-container {
      cursor: move;
  }

  .image-size-label {
      margin-top: 10px;
  }

.tf-main-edit{
  text-decoration: none;
  span{
    padding: 5px 15px;
    border: 1px solid rgba(170, 170, 170, 0.35);
    border-radius: 50px;
    color: #adadad;
    font-size: 13px;
    text-decoration: none;
    i{
      font-size: 11px;
      margin-right: 5px;
    }
  }
  &:hover{
    transition: 1s;
    span{
      border: 1px solid $brand-base;
      color: $brand-base;
    }
  }
}

.tf-coverimg-action{
  position: absolute;
  a{
    color: $white;
  }
}
