.tf-freelancer-profile{
  margin-top: 10px;
  .tf-freelancer-cover{
    height: 260px;
    padding: 30px;
    @extend .flex;
    @extend .align-center;
    background-color: rgba(54, 171, 249, 0.09);
    .tf-freelancerprofile-img{
      position: relative;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      @extend .imgFill;
      .tf-freelancerprofile-view{
        position: absolute;
        bottom: -22px;
        right: 0;
        left: 60px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #36ABF9;
        p{
          text-align: center;
          margin-top: 12px;
          font-size: 19px;
          font-weight: 400;
          color: #fff;
          span{
            display: block;
            font-size: 11px;
            color: #fff;
          }
        }
      }
    }
    .tf-freelancer-username{
      margin-left: 40px;
      margin-top: -55px;
      h1{
        font-size: 35px;
        font-weight: 400;
      }
      p{
        margin: 15px 0px;
      }
    }
  }
  .tf-freelancer-details{
    margin-top: 20px;
    background-color: #fff;
    height: 600px;
  }
}