.tf-restaurant-section{
  padding: 15px;
}

.tf-restaurant-cover{
  width: 100%;
  min-height: 300px;
  margin: -15px 0px 8px 0px;
  position: relative;
  .tf-coverimg-section{
    position: relative;
    @extend .flex;
    .tf-coverimg-main{
      flex: 1;
      width: 75%;
      position: relative;
      z-index: 1;
      .tf-restraurant-aaaa{
        width: 100%;
        padding: 30px;
        .tf-restaurant-name{
          h1{
            font-size: 35px;
            font-weight: 300;
            color: $white;
            sup{
              margin-left: 5px;
              font-size: 18px;
              color: $brand_second;
            }
          }
          p{
            margin-top: -8px;
            font-size: 16px;
            font-weight: 500;
            color: #eceeef;
            .tf-restaurants-divider{
              margin-left: 15px;
            }
          }
          .tf-restaurant-follow{
            @extend .flex;
            @extend .align-center;
            p{
              margin-bottom: 0px;
              margin-right: 15px;
              font-size: 18px;
              font-weight: 300;
              color: #eceeef;
              span{
                font-size: 13px;
              }
            }
          }
        }
        .tf-restaurantcover-img{
          position: absolute;
          @include positionFull(0);
          display: block;
          min-height: 300px;
          z-index: -1;
          @extend .imgFill;
          &:before{
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            content: "";
            background: rgba(0, 0, 0, 0.50);
          }
        }
      }
    }
    .tf-coverimg-side{
      width: 25%;
      .tf-restaurantcover-side{
        min-height: 100px;
        @extend .imgFill;
      }
    } 
  }
  .tf-coverimg-action{
    position: absolute;
    top: 9px;
    right: 15px;
    a{
      font-size: 25px;
      color: $white;
    }
  }
}

.tf-restaurant-details{
  margin-left: -30px;
  padding: 0px 30px;
}

.tf-restaurent-sidebar{
  margin-top: 30px;
  margin-left: -10px;
  padding-left: 30px;
  border-left: 1px solid #e3e3e3;
}

.tf-restaurent-header{
  @extend .flex;
  @extend .align-center;
  .tf-restaurantdetails-abt{
    flex: 1; 
    font-size: 25px;
    font-weight: 300;
    color: #000;
  }
  .tf-restaurantdetails-head{
    flex: 1;
    font-size: 20px;
    font-weight: 300;
    color: #000;
  }
  .tf-restaurant-edit{
    i{

    }
  }
}

.tf-restaurent-header{
  @extend .flex;
  @extend .align-center;
  .tf-restaurantdetails-abt{
    flex: 1; 
    font-size: 25px;
    font-weight: 300;
    color: #000;
  }
  .tf-restaurantdetails-head{
    flex: 1;
    font-size: 20px;
    font-weight: 300;
    color: #000;
  }
  .tf-restaurantdetails-sub{
    flex: 1;
    font-size: 20px;
    font-weight: 300;
    color: #000;
  }
  .tf-restaurant-edit{
    i{

    }
  }
}

.tf-restaurantdetails-dec{
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #7A7A7A;
}

.tf-divider{
  display: block;
  margin: 30px 0px 15px;
  width: 100%;
  height: 1px;
  background-color: $divider;
}

.tf-divider1{
  display: block;
  margin: 30px 0px 15px;
  width: 100%;
  height: 1px;
  background-color: $divider;
}

.tf-restaurant-features{
  @extend .flex;
  @extend .wrap;
  li{
    margin: 15px 0px;
    p{
      margin-right: 73px;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      color: #7A7A7A;
      i{
        display: block;
        margin: 5px 0px;
        text-align: center;
        font-size: 15px;
        color: #B1B1B1;
      }
    }
    .tf-feat{
      font-size: 15px;
      color: $green;
    }
  }
}

.tf-restaurant-cuisine{
  @extend .inline-flex;
  text-align: center;
  font-size: 13px;
  padding: 4px 20px;
  border-radius: 50px;
  border: 1px solid #e4e4e4;
  &:hover{
    cursor: pointer;
    color: $brand-base;
  }
}

.tf-restaurant-menu{
  @extend .flex;
  @extend .wrap;
  li{
    margin: 10px 20px 10px 0px;
    .tf-menu-img{
      min-width: 100px;
      min-height: 80px;
      position: relative;
      @extend .imgFill;
      @extend .box-shadow1;
      span{
        position: absolute;
        visibility: hidden;
        top: 3px;
        right: 0;
        a{
          padding: 10px 5px;
          color: $white;
        }
      }
     &:hover{
      @extend .box-shadow;
      span{ 
        visibility: visible;
      }
     } 
    }
  }
}

.tf-restaurant-product{
  padding: 20px;
  @extend .box-shadow;
  position: relative;
  .tf-product-cover{
    margin:-20px -20px 0px -20px;
    .tf-productcover-img{
      min-height: 130px;
      @extend .imgFill;
    }
  }
  .tf-product-edit{
    position: absolute;
    top: 7px;
    right: 0px;
    i{
      visibility: hidden;
      color: #eceeef;
      font-size: 17px;
      padding: 10px;
    }
  }
  &:hover{
    @extend .box-shadow1;
    .tf-product-edit{
      i{
        visibility: visible;
        -webkit-transition: 2s;
        transition: 2s;
      }
    }
  }
  .tf-product-details{
    .tf-product-name{
      font-size: 16px;
      font-weight: 500;
      margin: 10px 0px;
    }
    .tf-product-dec{
      font-size: 14px;
      color: #A7A7A7;
    }
    .tf-product-price{
      @extend .flex;
      .tf-quantity{
        flex: 1;
        font-size: 14px;
        font-weight: 500;
        color: $green;
      }
      .tf-price{
        font-size: 14px;
        font-weight: 500;
        color: $nblue;
        i{
          padding: 0px 5px;
          color: $nblue;
        }
      }
    }
  }
}

.tf-restaurant-awards{
  margin: 10px 0px;
  .tf-award-name{
    margin: 5px 0px;
    font-size: 18px;
    font-weight: 300;
    color: $black;
    .tf-award-date{
      margin-left: 5px;
      font-size: 14px;
      font-weight: 500;
      color: $nblue;
    }
  }
  .tf-award-dec{
    font-size: 14px;
    font-weight: 300;
    color: #A7A7A7;
  }
}
.tf-restaurant-servicing{
  margin: 10px 0px;
  .tf-areaname{
    margin: 5px 0px;
    font-size: 18px;
    font-weight: 300;
    color: $black;
  }
  .tf-delevery-hours{
    font-size: 14px;
    font-weight: 500;
    color: #A7A7A7;
    .tf-delevery-time{
      font-size: 14px;
      font-weight: 500;
      color: $nblue;
    }
  }
}

.tf-restaurant-service{
  margin: 10px 0px;
  .tf-service-name{
    margin: 5px 0px;
    font-size: 18px;
    font-weight: 300;
    color: $black;
  }
  .tf-service-desc{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #A7A7A7;
  }
  .tf-service-exp{
    font-size: 14px;
    font-weight: 500;
    color: $nblue;
  }
}
