.ui.segment{
  border: none !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ui.secondary.pointing.menu .active.item {
  border-color: $brand_base !important;
  color: $brand_base !important;
}
.tf-tab{
  a{
    font-size: 15px !important;
    padding: 20px !important;
    &:active{
      font-weight: 500 !important;
    }
  }
}
.ui.secondary.pointing.menu{
  border-bottom: 1px solid rgba(34,36,38,.15) !important;
}
.trns{
  &:before{ 
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}
