body{
  background-color: #ffffff !important;
  font-family: 'museo-sans', sans-serif !important;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

a,h1,h2,h3,h4,h5,h6,p,span,button, 
input[type="submit"], 
input[type="text"],
input[type="file"],
input[type="email"],
textarea,
select{
  font-family: 'museo-sans', sans-serif !important;
}

p{
  font-size: 14px;
  font-weight: 500;
  line-height: 25px !important;
}

p, span, a{
}