// Font variables
$trusfi-archive: "\e905";
$trusfi-chat: "\e906";
$trusfi-user3: "\e908";
$trusfi-newspaper2: "\e909";
$trusfi-blur_circular: "\e3a2";
$trusfi-domain: "\e7ee";
$trusfi-card_travel: "\e8f8";
$trusfi-dvr: "\e1b2";
$trusfi-fingerprint: "\e90d";
$trusfi-loupe: "\e402";
$trusfi-notifications_none: "\e7f5";
$trusfi-add-to-list: "\e931";
$trusfi-classic-computer: "\e932";
$trusfi-controller-fast-backward: "\e933";
$trusfi-creative-commons-attribution: "\e934";
$trusfi-creative-commons-noderivs: "\e935";
$trusfi-creative-commons-noncommercial-eu: "\e936";
$trusfi-creative-commons-noncommercial-us: "\e937";
$trusfi-creative-commons-public-domain: "\e938";
$trusfi-creative-commons-remix: "\e939";
$trusfi-creative-commons-share: "\e93a";
$trusfi-creative-commons-sharealike: "\e93b";
$trusfi-creative-commons: "\e93c";
$trusfi-document-landscape: "\e93d";
$trusfi-remove-user: "\e93e";
$trusfi-warning2: "\e93f";
$trusfi-arrow-bold-down: "\e940";
$trusfi-arrow-bold-left: "\e941";
$trusfi-arrow-bold-right: "\e942";
$trusfi-arrow-bold-up: "\e943";
$trusfi-arrow-down: "\e944";
$trusfi-arrow-left: "\e945";
$trusfi-arrow-long-down: "\e946";
$trusfi-arrow-long-left: "\e947";
$trusfi-arrow-long-right: "\e948";
$trusfi-arrow-long-up: "\e949";
$trusfi-arrow-right: "\e94a";
$trusfi-arrow-up: "\e94b";
$trusfi-arrow-with-circle-down: "\e94c";
$trusfi-arrow-with-circle-left: "\e94d";
$trusfi-arrow-with-circle-right: "\e94e";
$trusfi-arrow-with-circle-up: "\e94f";
$trusfi-bookmark2: "\e950";
$trusfi-bookmarks2: "\e951";
$trusfi-chevron-down: "\e952";
$trusfi-chevron-left: "\e953";
$trusfi-chevron-right: "\e954";
$trusfi-chevron-small-down: "\e955";
$trusfi-chevron-small-left: "\e956";
$trusfi-chevron-small-right: "\e957";
$trusfi-chevron-small-up: "\e958";
$trusfi-chevron-thin-down: "\e959";
$trusfi-chevron-thin-left: "\e95a";
$trusfi-chevron-thin-right: "\e95b";
$trusfi-chevron-thin-up: "\e95c";
$trusfi-chevron-up: "\e95d";
$trusfi-chevron-with-circle-down: "\e95e";
$trusfi-chevron-with-circle-left: "\e95f";
$trusfi-chevron-with-circle-right: "\e960";
$trusfi-chevron-with-circle-up: "\e961";
$trusfi-cloud2: "\e962";
$trusfi-controller-fast-forward: "\e963";
$trusfi-controller-jump-to-start: "\e964";
$trusfi-controller-next: "\e965";
$trusfi-controller-paus: "\e966";
$trusfi-controller-play: "\e967";
$trusfi-controller-record: "\e968";
$trusfi-controller-stop: "\e969";
$trusfi-controller-volume: "\e96a";
$trusfi-dot-single: "\e96b";
$trusfi-dots-three-horizontal: "\e96c";
$trusfi-dots-three-vertical: "\e96d";
$trusfi-dots-two-horizontal: "\e96e";
$trusfi-dots-two-vertical: "\e96f";
$trusfi-download: "\e970";
$trusfi-emoji-flirt: "\e971";
$trusfi-flow-branch: "\e972";
$trusfi-flow-cascade: "\e973";
$trusfi-flow-line: "\e974";
$trusfi-flow-parallel: "\e975";
$trusfi-flow-tree: "\e976";
$trusfi-install: "\e977";
$trusfi-layers2: "\e978";
$trusfi-open-book: "\e979";
$trusfi-resize-100: "\e97a";
$trusfi-resize-full-screen: "\e97b";
$trusfi-save2: "\e97c";
$trusfi-select-arrows: "\e97d";
$trusfi-sound-mute: "\e97e";
$trusfi-sound: "\e97f";
$trusfi-trash: "\e980";
$trusfi-triangle-down: "\e981";
$trusfi-triangle-left: "\e982";
$trusfi-triangle-right: "\e983";
$trusfi-triangle-up: "\e984";
$trusfi-uninstall: "\e985";
$trusfi-upload-to-cloud: "\e986";
$trusfi-upload: "\e987";
$trusfi-add-user: "\e988";
$trusfi-address: "\e989";
$trusfi-adjust2: "\e98a";
$trusfi-air: "\e98b";
$trusfi-aircraft-landing: "\e98c";
$trusfi-aircraft-take-off: "\e98d";
$trusfi-aircraft: "\e98e";
$trusfi-align-bottom: "\e98f";
$trusfi-align-horizontal-middle: "\e990";
$trusfi-align-left: "\e991";
$trusfi-align-right: "\e992";
$trusfi-align-top: "\e993";
$trusfi-align-vertical-middle: "\e994";
$trusfi-archive2: "\e995";
$trusfi-area-graph: "\e996";
$trusfi-attachment3: "\e997";
$trusfi-awareness-ribbon: "\e998";
$trusfi-back-in-time: "\e999";
$trusfi-back: "\e99a";
$trusfi-bar-graph: "\e99b";
$trusfi-battery: "\e99c";
$trusfi-beamed-note: "\e99d";
$trusfi-bell: "\e99e";
$trusfi-blackboard: "\e99f";
$trusfi-block2: "\e9a0";
$trusfi-book2: "\e9a1";
$trusfi-bowl: "\e9a2";
$trusfi-box: "\e9a3";
$trusfi-briefcase2: "\e9a4";
$trusfi-browser: "\e9a5";
$trusfi-brush2: "\e9a6";
$trusfi-bucket: "\e9a7";
$trusfi-cake2: "\e9a8";
$trusfi-calculator2: "\e9a9";
$trusfi-calendar: "\e9aa";
$trusfi-camera3: "\e9ab";
$trusfi-ccw: "\e9ac";
$trusfi-chat2: "\e9ad";
$trusfi-check2: "\e9ae";
$trusfi-circle-with-cross: "\e9af";
$trusfi-circle-with-minus: "\e9b0";
$trusfi-circle-with-plus: "\e9b1";
$trusfi-circle: "\e9b2";
$trusfi-circular-graph: "\e9b3";
$trusfi-clapperboard: "\e9b4";
$trusfi-clipboard2: "\e9b5";
$trusfi-clock3: "\e9b6";
$trusfi-code2: "\e9b7";
$trusfi-cog2: "\e9b8";
$trusfi-colours: "\e9b9";
$trusfi-compass2: "\e9ba";
$trusfi-copy: "\e9bb";
$trusfi-credit-card2: "\e9bc";
$trusfi-credit: "\e9bd";
$trusfi-cross2: "\e9be";
$trusfi-cup: "\e9bf";
$trusfi-cw: "\e9c0";
$trusfi-cycle: "\e9c1";
$trusfi-database: "\e9c2";
$trusfi-dial-pad: "\e9c3";
$trusfi-direction: "\e9c4";
$trusfi-document: "\e9c5";
$trusfi-documents: "\e9c6";
$trusfi-drink: "\e9c7";
$trusfi-drive: "\e9c8";
$trusfi-drop: "\e9c9";
$trusfi-edit: "\e9ca";
$trusfi-email: "\e9cb";
$trusfi-emoji-happy: "\e9cc";
$trusfi-emoji-neutral: "\e9cd";
$trusfi-emoji-sad: "\e9ce";
$trusfi-erase: "\e9cf";
$trusfi-eraser: "\e9d0";
$trusfi-export: "\e9d1";
$trusfi-eye2: "\e9d2";
$trusfi-feather: "\e9d3";
$trusfi-flag3: "\e9d4";
$trusfi-flash: "\e9d5";
$trusfi-flashlight: "\e9d6";
$trusfi-flat-brush: "\e9d7";
$trusfi-folder-images: "\e9d8";
$trusfi-folder-music: "\e9d9";
$trusfi-folder-video: "\e9da";
$trusfi-folder3: "\e9db";
$trusfi-forward3: "\e9dc";
$trusfi-funnel: "\e9dd";
$trusfi-game-controller: "\e9de";
$trusfi-gauge: "\e9df";
$trusfi-globe: "\e9e0";
$trusfi-graduation-cap: "\e9e1";
$trusfi-grid: "\e9e2";
$trusfi-hair-cross: "\e9e3";
$trusfi-hand: "\e9e4";
$trusfi-heart-outlined: "\e9e5";
$trusfi-heart2: "\e9e6";
$trusfi-help-with-circle: "\e9e7";
$trusfi-help2: "\e9e8";
$trusfi-home2: "\e9e9";
$trusfi-hour-glass2: "\e9ea";
$trusfi-image-inverted: "\e9eb";
$trusfi-image: "\e9ec";
$trusfi-images: "\e9ed";
$trusfi-inbox2: "\e9ee";
$trusfi-infinity: "\e9ef";
$trusfi-info-with-circle: "\e9f0";
$trusfi-info2: "\e9f1";
$trusfi-key3: "\e9f2";
$trusfi-keyboard2: "\e9f3";
$trusfi-lab-flask: "\e9f4";
$trusfi-landline: "\e9f5";
$trusfi-language2: "\e9f6";
$trusfi-laptop2: "\e9f7";
$trusfi-leaf2: "\e9f8";
$trusfi-level-down: "\e9f9";
$trusfi-level-up: "\e9fa";
$trusfi-lifebuoy2: "\e9fb";
$trusfi-light-bulb: "\e9fc";
$trusfi-light-down: "\e9fd";
$trusfi-light-up: "\e9fe";
$trusfi-line-graph: "\e9ff";
$trusfi-link3: "\ea00";
$trusfi-list4: "\ea01";
$trusfi-location-pin: "\ea02";
$trusfi-location3: "\ea03";
$trusfi-lock-open: "\ea04";
$trusfi-lock3: "\ea05";
$trusfi-log-out: "\ea06";
$trusfi-login: "\ea07";
$trusfi-loop: "\ea08";
$trusfi-magnet2: "\ea09";
$trusfi-magnifying-glass: "\ea0a";
$trusfi-mail: "\ea0b";
$trusfi-man: "\ea0c";
$trusfi-map2: "\ea0d";
$trusfi-mask: "\ea0e";
$trusfi-medal: "\ea0f";
$trusfi-megaphone: "\ea10";
$trusfi-menu2: "\ea11";
$trusfi-message2: "\ea12";
$trusfi-mic3: "\ea13";
$trusfi-minus: "\ea14";
$trusfi-mobile2: "\ea15";
$trusfi-modern-mic: "\ea16";
$trusfi-moon: "\ea17";
$trusfi-mouse2: "\ea18";
$trusfi-music: "\ea19";
$trusfi-network: "\ea1a";
$trusfi-new-message: "\ea1b";
$trusfi-new: "\ea1c";
$trusfi-news: "\ea1d";
$trusfi-note2: "\ea1e";
$trusfi-notification: "\ea1f";
$trusfi-old-mobile: "\ea20";
$trusfi-old-phone: "\ea21";
$trusfi-palette2: "\ea22";
$trusfi-paper-plane: "\ea23";
$trusfi-pencil: "\ea24";
$trusfi-phone3: "\ea25";
$trusfi-pie-chart2: "\ea26";
$trusfi-pin: "\ea27";
$trusfi-plus: "\ea28";
$trusfi-popup: "\ea29";
$trusfi-power-plug: "\ea2a";
$trusfi-price-ribbon: "\ea2b";
$trusfi-price-tag2: "\ea2c";
$trusfi-print2: "\ea2d";
$trusfi-progress-empty: "\ea2e";
$trusfi-progress-full: "\ea2f";
$trusfi-progress-one: "\ea30";
$trusfi-progress-two: "\ea31";
$trusfi-publish2: "\ea32";
$trusfi-quote: "\ea33";
$trusfi-radio2: "\ea34";
$trusfi-reply-all: "\ea35";
$trusfi-reply3: "\ea36";
$trusfi-retweet: "\ea37";
$trusfi-rocket2: "\ea38";
$trusfi-round-brush: "\ea39";
$trusfi-rss3: "\ea3a";
$trusfi-ruler: "\ea3b";
$trusfi-scissors2: "\ea3c";
$trusfi-share-alternitive: "\ea3d";
$trusfi-share3: "\ea3e";
$trusfi-shareable: "\ea3f";
$trusfi-shield2: "\ea40";
$trusfi-shop2: "\ea41";
$trusfi-shopping-bag: "\ea42";
$trusfi-shopping-basket: "\ea43";
$trusfi-shopping-cart: "\ea44";
$trusfi-shuffle2: "\ea45";
$trusfi-signal: "\ea46";
$trusfi-sound-mix: "\ea47";
$trusfi-sports-club: "\ea48";
$trusfi-spreadsheet: "\ea49";
$trusfi-squared-cross: "\ea4a";
$trusfi-squared-minus: "\ea4b";
$trusfi-squared-plus: "\ea4c";
$trusfi-star-outlined: "\ea4d";
$trusfi-star2: "\ea4e";
$trusfi-stopwatch: "\ea4f";
$trusfi-suitcase: "\ea50";
$trusfi-swap: "\ea51";
$trusfi-sweden: "\ea52";
$trusfi-switch2: "\ea53";
$trusfi-tablet2: "\ea54";
$trusfi-tag: "\ea55";
$trusfi-text-document-inverted: "\ea56";
$trusfi-text-document: "\ea57";
$trusfi-text: "\ea58";
$trusfi-thermometer: "\ea59";
$trusfi-thumbs-down: "\ea5a";
$trusfi-thumbs-up: "\ea5b";
$trusfi-thunder-cloud: "\ea5c";
$trusfi-ticket2: "\ea5d";
$trusfi-time-slot: "\ea5e";
$trusfi-tools: "\ea5f";
$trusfi-traffic-cone: "\ea60";
$trusfi-tree: "\ea61";
$trusfi-trophy2: "\ea62";
$trusfi-tv3: "\ea63";
$trusfi-typing: "\ea64";
$trusfi-unread: "\ea65";
$trusfi-untag: "\ea66";
$trusfi-user2: "\ea67";
$trusfi-users2: "\ea68";
$trusfi-v-card: "\ea69";
$trusfi-video: "\ea6a";
$trusfi-vinyl: "\ea6b";
$trusfi-voicemail2: "\ea6c";
$trusfi-wallet: "\ea6d";
$trusfi-water: "\ea6e";
$trusfi-facebook3: "\eaa1";
$trusfi-outlook: "\e904";
$trusfi-rating-star-outline: "\e903";
$trusfi-rating-star: "\e902";
$trusfi-rating-fill: "\e901";
$trusfi-rating-smile: "\e900";
$trusfi-newspaper: "\eab9";
$trusfi-quill: "\e907";
$trusfi-camera: "\eaba";
$trusfi-film: "\eabd";
$trusfi-mic: "\eabe";
$trusfi-book: "\eabf";
$trusfi-books: "\eac0";
$trusfi-library: "\e921";
$trusfi-file-empty: "\eac1";
$trusfi-files-empty: "\eac2";
$trusfi-file-text2: "\eac3";
$trusfi-file-picture: "\eac4";
$trusfi-file-music: "\eac5";
$trusfi-file-play: "\eac6";
$trusfi-file-video: "\eac7";
$trusfi-folder: "\eac8";
$trusfi-folder-open: "\eac9";
$trusfi-folder-plus: "\eaca";
$trusfi-folder-minus: "\eacb";
$trusfi-folder-download: "\eacc";
$trusfi-folder-upload: "\eacd";
$trusfi-price-tag: "\eace";
$trusfi-price-tags: "\eacf";
$trusfi-ticket: "\ead0";
$trusfi-cart: "\ead1";
$trusfi-credit-card: "\ead2";
$trusfi-calculator: "\ead3";
$trusfi-lifebuoy: "\ead4";
$trusfi-phone: "\ead5";
$trusfi-phone-hang-up: "\ead6";
$trusfi-address-book: "\ead7";
$trusfi-location: "\ead8";
$trusfi-location2: "\ead9";
$trusfi-compass: "\eada";
$trusfi-clock: "\eadb";
$trusfi-clock2: "\eadc";
$trusfi-alarm: "\eadd";
$trusfi-printer: "\eade";
$trusfi-display: "\eadf";
$trusfi-mobile: "\eae0";
$trusfi-tv: "\eae1";
$trusfi-drawer: "\eae2";
$trusfi-drawer2: "\eae3";
$trusfi-box-add: "\eae4";
$trusfi-box-remove: "\eae5";
$trusfi-undo: "\eae6";
$trusfi-redo: "\eae7";
$trusfi-undo2: "\eae8";
$trusfi-redo2: "\eae9";
$trusfi-forward: "\eaea";
$trusfi-reply: "\eaeb";
$trusfi-user: "\eaec";
$trusfi-users: "\eaed";
$trusfi-user-plus: "\eaee";
$trusfi-user-minus: "\eaef";
$trusfi-hour-glass: "\eaf0";
$trusfi-binoculars: "\eaf1";
$trusfi-search: "\eaf2";
$trusfi-zoom-in: "\eaf3";
$trusfi-zoom-out: "\eaf4";
$trusfi-enlarge: "\eaf5";
$trusfi-shrink: "\eaf6";
$trusfi-enlarge2: "\eaf7";
$trusfi-shrink2: "\eaf8";
$trusfi-key: "\eaf9";
$trusfi-key2: "\eafa";
$trusfi-lock: "\eafb";
$trusfi-unlocked: "\eafc";
$trusfi-wrench: "\eafd";
$trusfi-equalizer: "\eafe";
$trusfi-equalizer2: "\eaff";
$trusfi-cog: "\eb00";
$trusfi-cogs: "\eb01";
$trusfi-magic-wand: "\eb02";
$trusfi-aid-kit: "\eb03";
$trusfi-pie-chart: "\eb04";
$trusfi-trophy: "\eb05";
$trusfi-gift: "\eb06";
$trusfi-glass: "\eb07";
$trusfi-glass2: "\eb08";
$trusfi-mug: "\eb09";
$trusfi-spoon-knife: "\eb0a";
$trusfi-leaf: "\eb0b";
$trusfi-rocket: "\eb0c";
$trusfi-fire: "\eb0d";
$trusfi-lab: "\eb0e";
$trusfi-magnet: "\eb0f";
$trusfi-bin: "\eb10";
$trusfi-bin2: "\eb11";
$trusfi-briefcase: "\eb12";
$trusfi-airplane: "\eb13";
$trusfi-road: "\eb14";
$trusfi-shield: "\eb15";
$trusfi-power: "\eb16";
$trusfi-switch: "\eb17";
$trusfi-power-cord: "\eb18";
$trusfi-clipboard: "\eb19";
$trusfi-list-numbered: "\eb1a";
$trusfi-list: "\eb1b";
$trusfi-list2: "\eb1c";
$trusfi-cloud: "\eb1d";
$trusfi-cloud-download: "\eb1e";
$trusfi-cloud-upload: "\eb1f";
$trusfi-cloud-check: "\eb20";
$trusfi-download2: "\eb21";
$trusfi-upload2: "\eb22";
$trusfi-download3: "\eb23";
$trusfi-upload3: "\eb24";
$trusfi-sphere: "\eb25";
$trusfi-earth: "\eb26";
$trusfi-link: "\eb27";
$trusfi-flag: "\eb28";
$trusfi-attachment: "\eb29";
$trusfi-eye: "\eb2a";
$trusfi-eye-plus: "\eb2b";
$trusfi-eye-minus: "\eb2c";
$trusfi-eye-blocked: "\eb2d";
$trusfi-bookmark: "\eb2e";
$trusfi-bookmarks: "\eb2f";
$trusfi-heart: "\eb30";
$trusfi-heart-broken: "\eb31";
$trusfi-cancel-circle: "\eb32";
$trusfi-blocked: "\eb33";
$trusfi-cross: "\eb34";
$trusfi-checkmark: "\eb35";
$trusfi-checkmark2: "\eb36";
$trusfi-infinite: "\eb37";
$trusfi-circle-up: "\eb38";
$trusfi-circle-right: "\eb39";
$trusfi-circle-down: "\eb3a";
$trusfi-circle-left: "\eb4d";
$trusfi-command: "\eb4e";
$trusfi-checkbox-checked: "\eb4f";
$trusfi-radio-checked: "\eb50";
$trusfi-radio-checked2: "\eb51";
$trusfi-radio-unchecked: "\eb52";
$trusfi-crop: "\eb53";
$trusfi-make-group: "\eb54";
$trusfi-ungroup: "\eb55";
$trusfi-scissors: "\eb56";
$trusfi-page-break: "\eb57";
$trusfi-insert-template: "\eb58";
$trusfi-share: "\eb59";
$trusfi-new-tab: "\eb5a";
$trusfi-google: "\ea88";
$trusfi-google2: "\ea89";
$trusfi-google3: "\ea8a";
$trusfi-google-plus: "\ea8b";
$trusfi-google-plus2: "\ea8c";
$trusfi-google-plus3: "\ea8d";
$trusfi-facebook: "\ea90";
$trusfi-facebook2: "\ea91";
$trusfi-instagram: "\ea92";
$trusfi-twitter: "\ea96";
$trusfi-vk: "\ea98";
$trusfi-rss: "\eb5b";
$trusfi-rss2: "\eb5c";
$trusfi-youtube: "\ea9d";
$trusfi-youtube2: "\ea9e";
$trusfi-github: "\eab0";
$trusfi-tumblr: "\eb3b";
$trusfi-tumblr2: "\eb3c";
$trusfi-yahoo: "\eabb";
$trusfi-yahoo2: "\eabc";
$trusfi-linkedin: "\eb3d";
$trusfi-linkedin2: "\eb3e";
$trusfi-pinterest: "\eb3f";
$trusfi-pinterest2: "\eb40";
$trusfi-chrome: "\eb5d";
$trusfi-firefox: "\eb5e";
$trusfi-IE: "\eb5f";
$trusfi-edge: "\eb60";
$trusfi-safari: "\eb61";
$trusfi-opera: "\eb62";
$trusfi-file-pdf: "\eb63";
$trusfi-file-openoffice: "\eb64";
$trusfi-file-word: "\eb65";
$trusfi-file-excel: "\eb66";
$trusfi-libreoffice: "\eb67";



