@font-face {
  font-family: 'trusfi';
  src:font-url('trusfi.eot?wnurzk');
  src:font-url('trusfi.eot?wnurzk#iefix') format('embedded-opentype'),
    font-url('trusfi.ttf?wnurzk') format('truetype'),
    font-url('trusfi.woff?wnurzk') format('woff'),
    font-url('trusfi.svg?wnurzk#trusfi') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'Icons' !important;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'trusfi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trusfi-archive {
  &:before {
    content: $trusfi-archive;
  }
}
.trusfi-chat {
  &:before {
    content: $trusfi-chat;
  }
}
.trusfi-user3 {
  &:before {
    content: $trusfi-user3;
  }
}
.trusfi-newspaper2 {
  &:before {
    content: $trusfi-newspaper2;
  }
}
.trusfi-blur_circular {
  &:before {
    content: $trusfi-blur_circular;
  }
}
.trusfi-domain {
  &:before {
    content: $trusfi-domain;
  }
}
.trusfi-card_travel {
  &:before {
    content: $trusfi-card_travel;
  }
}
.trusfi-dvr {
  &:before {
    content: $trusfi-dvr;
  }
}
.trusfi-fingerprint {
  &:before {
    content: $trusfi-fingerprint;
  }
}
.trusfi-loupe {
  &:before {
    content: $trusfi-loupe;
  }
}
.trusfi-notifications_none {
  &:before {
    content: $trusfi-notifications_none;
  }
}
.trusfi-add-to-list {
  &:before {
    content: $trusfi-add-to-list;
  }
}
.trusfi-classic-computer {
  &:before {
    content: $trusfi-classic-computer;
  }
}
.trusfi-controller-fast-backward {
  &:before {
    content: $trusfi-controller-fast-backward;
  }
}
.trusfi-creative-commons-attribution {
  &:before {
    content: $trusfi-creative-commons-attribution;
  }
}
.trusfi-creative-commons-noderivs {
  &:before {
    content: $trusfi-creative-commons-noderivs;
  }
}
.trusfi-creative-commons-noncommercial-eu {
  &:before {
    content: $trusfi-creative-commons-noncommercial-eu;
  }
}
.trusfi-creative-commons-noncommercial-us {
  &:before {
    content: $trusfi-creative-commons-noncommercial-us;
  }
}
.trusfi-creative-commons-public-domain {
  &:before {
    content: $trusfi-creative-commons-public-domain;
  }
}
.trusfi-creative-commons-remix {
  &:before {
    content: $trusfi-creative-commons-remix;
  }
}
.trusfi-creative-commons-share {
  &:before {
    content: $trusfi-creative-commons-share;
  }
}
.trusfi-creative-commons-sharealike {
  &:before {
    content: $trusfi-creative-commons-sharealike;
  }
}
.trusfi-creative-commons {
  &:before {
    content: $trusfi-creative-commons;
  }
}
.trusfi-document-landscape {
  &:before {
    content: $trusfi-document-landscape;
  }
}
.trusfi-remove-user {
  &:before {
    content: $trusfi-remove-user;
  }
}
.trusfi-warning2 {
  &:before {
    content: $trusfi-warning2;
  }
}
.trusfi-arrow-bold-down {
  &:before {
    content: $trusfi-arrow-bold-down;
  }
}
.trusfi-arrow-bold-left {
  &:before {
    content: $trusfi-arrow-bold-left;
  }
}
.trusfi-arrow-bold-right {
  &:before {
    content: $trusfi-arrow-bold-right;
  }
}
.trusfi-arrow-bold-up {
  &:before {
    content: $trusfi-arrow-bold-up;
  }
}
.trusfi-arrow-down {
  &:before {
    content: $trusfi-arrow-down;
  }
}
.trusfi-arrow-left {
  &:before {
    content: $trusfi-arrow-left;
  }
}
.trusfi-arrow-long-down {
  &:before {
    content: $trusfi-arrow-long-down;
  }
}
.trusfi-arrow-long-left {
  &:before {
    content: $trusfi-arrow-long-left;
  }
}
.trusfi-arrow-long-right {
  &:before {
    content: $trusfi-arrow-long-right;
  }
}
.trusfi-arrow-long-up {
  &:before {
    content: $trusfi-arrow-long-up;
  }
}
.trusfi-arrow-right {
  &:before {
    content: $trusfi-arrow-right;
  }
}
.trusfi-arrow-up {
  &:before {
    content: $trusfi-arrow-up;
  }
}
.trusfi-arrow-with-circle-down {
  &:before {
    content: $trusfi-arrow-with-circle-down;
  }
}
.trusfi-arrow-with-circle-left {
  &:before {
    content: $trusfi-arrow-with-circle-left;
  }
}
.trusfi-arrow-with-circle-right {
  &:before {
    content: $trusfi-arrow-with-circle-right;
  }
}
.trusfi-arrow-with-circle-up {
  &:before {
    content: $trusfi-arrow-with-circle-up;
  }
}
.trusfi-bookmark2 {
  &:before {
    content: $trusfi-bookmark2;
  }
}
.trusfi-bookmarks2 {
  &:before {
    content: $trusfi-bookmarks2;
  }
}
.trusfi-chevron-down {
  &:before {
    content: $trusfi-chevron-down;
  }
}
.trusfi-chevron-left {
  &:before {
    content: $trusfi-chevron-left;
  }
}
.trusfi-chevron-right {
  &:before {
    content: $trusfi-chevron-right;
  }
}
.trusfi-chevron-small-down {
  &:before {
    content: $trusfi-chevron-small-down;
  }
}
.trusfi-chevron-small-left {
  &:before {
    content: $trusfi-chevron-small-left;
  }
}
.trusfi-chevron-small-right {
  &:before {
    content: $trusfi-chevron-small-right;
  }
}
.trusfi-chevron-small-up {
  &:before {
    content: $trusfi-chevron-small-up;
  }
}
.trusfi-chevron-thin-down {
  &:before {
    content: $trusfi-chevron-thin-down;
  }
}
.trusfi-chevron-thin-left {
  &:before {
    content: $trusfi-chevron-thin-left;
  }
}
.trusfi-chevron-thin-right {
  &:before {
    content: $trusfi-chevron-thin-right;
  }
}
.trusfi-chevron-thin-up {
  &:before {
    content: $trusfi-chevron-thin-up;
  }
}
.trusfi-chevron-up {
  &:before {
    content: $trusfi-chevron-up;
  }
}
.trusfi-chevron-with-circle-down {
  &:before {
    content: $trusfi-chevron-with-circle-down;
  }
}
.trusfi-chevron-with-circle-left {
  &:before {
    content: $trusfi-chevron-with-circle-left;
  }
}
.trusfi-chevron-with-circle-right {
  &:before {
    content: $trusfi-chevron-with-circle-right;
  }
}
.trusfi-chevron-with-circle-up {
  &:before {
    content: $trusfi-chevron-with-circle-up;
  }
}
.trusfi-cloud2 {
  &:before {
    content: $trusfi-cloud2;
  }
}
.trusfi-controller-fast-forward {
  &:before {
    content: $trusfi-controller-fast-forward;
  }
}
.trusfi-controller-jump-to-start {
  &:before {
    content: $trusfi-controller-jump-to-start;
  }
}
.trusfi-controller-next {
  &:before {
    content: $trusfi-controller-next;
  }
}
.trusfi-controller-paus {
  &:before {
    content: $trusfi-controller-paus;
  }
}
.trusfi-controller-play {
  &:before {
    content: $trusfi-controller-play;
  }
}
.trusfi-controller-record {
  &:before {
    content: $trusfi-controller-record;
  }
}
.trusfi-controller-stop {
  &:before {
    content: $trusfi-controller-stop;
  }
}
.trusfi-controller-volume {
  &:before {
    content: $trusfi-controller-volume;
  }
}
.trusfi-dot-single {
  &:before {
    content: $trusfi-dot-single;
  }
}
.trusfi-dots-three-horizontal {
  &:before {
    content: $trusfi-dots-three-horizontal;
  }
}
.trusfi-dots-three-vertical {
  &:before {
    content: $trusfi-dots-three-vertical;
  }
}
.trusfi-dots-two-horizontal {
  &:before {
    content: $trusfi-dots-two-horizontal;
  }
}
.trusfi-dots-two-vertical {
  &:before {
    content: $trusfi-dots-two-vertical;
  }
}
.trusfi-download {
  &:before {
    content: $trusfi-download;
  }
}
.trusfi-emoji-flirt {
  &:before {
    content: $trusfi-emoji-flirt;
  }
}
.trusfi-flow-branch {
  &:before {
    content: $trusfi-flow-branch;
  }
}
.trusfi-flow-cascade {
  &:before {
    content: $trusfi-flow-cascade;
  }
}
.trusfi-flow-line {
  &:before {
    content: $trusfi-flow-line;
  }
}
.trusfi-flow-parallel {
  &:before {
    content: $trusfi-flow-parallel;
  }
}
.trusfi-flow-tree {
  &:before {
    content: $trusfi-flow-tree;
  }
}
.trusfi-install {
  &:before {
    content: $trusfi-install;
  }
}
.trusfi-layers2 {
  &:before {
    content: $trusfi-layers2;
  }
}
.trusfi-open-book {
  &:before {
    content: $trusfi-open-book;
  }
}
.trusfi-resize-100 {
  &:before {
    content: $trusfi-resize-100;
  }
}
.trusfi-resize-full-screen {
  &:before {
    content: $trusfi-resize-full-screen;
  }
}
.trusfi-save2 {
  &:before {
    content: $trusfi-save2;
  }
}
.trusfi-select-arrows {
  &:before {
    content: $trusfi-select-arrows;
  }
}
.trusfi-sound-mute {
  &:before {
    content: $trusfi-sound-mute;
  }
}
.trusfi-sound {
  &:before {
    content: $trusfi-sound;
  }
}
.trusfi-trash {
  &:before {
    content: $trusfi-trash;
  }
}
.trusfi-triangle-down {
  &:before {
    content: $trusfi-triangle-down;
  }
}
.trusfi-triangle-left {
  &:before {
    content: $trusfi-triangle-left;
  }
}
.trusfi-triangle-right {
  &:before {
    content: $trusfi-triangle-right;
  }
}
.trusfi-triangle-up {
  &:before {
    content: $trusfi-triangle-up;
  }
}
.trusfi-uninstall {
  &:before {
    content: $trusfi-uninstall;
  }
}
.trusfi-upload-to-cloud {
  &:before {
    content: $trusfi-upload-to-cloud;
  }
}
.trusfi-upload {
  &:before {
    content: $trusfi-upload;
  }
}
.trusfi-add-user {
  &:before {
    content: $trusfi-add-user;
  }
}
.trusfi-address {
  &:before {
    content: $trusfi-address;
  }
}
.trusfi-adjust2 {
  &:before {
    content: $trusfi-adjust2;
  }
}
.trusfi-air {
  &:before {
    content: $trusfi-air;
  }
}
.trusfi-aircraft-landing {
  &:before {
    content: $trusfi-aircraft-landing;
  }
}
.trusfi-aircraft-take-off {
  &:before {
    content: $trusfi-aircraft-take-off;
  }
}
.trusfi-aircraft {
  &:before {
    content: $trusfi-aircraft;
  }
}
.trusfi-align-bottom {
  &:before {
    content: $trusfi-align-bottom;
  }
}
.trusfi-align-horizontal-middle {
  &:before {
    content: $trusfi-align-horizontal-middle;
  }
}
.trusfi-align-left {
  &:before {
    content: $trusfi-align-left;
  }
}
.trusfi-align-right {
  &:before {
    content: $trusfi-align-right;
  }
}
.trusfi-align-top {
  &:before {
    content: $trusfi-align-top;
  }
}
.trusfi-align-vertical-middle {
  &:before {
    content: $trusfi-align-vertical-middle;
  }
}
.trusfi-archive2 {
  &:before {
    content: $trusfi-archive2;
  }
}
.trusfi-area-graph {
  &:before {
    content: $trusfi-area-graph;
  }
}
.trusfi-attachment3 {
  &:before {
    content: $trusfi-attachment3;
  }
}
.trusfi-awareness-ribbon {
  &:before {
    content: $trusfi-awareness-ribbon;
  }
}
.trusfi-back-in-time {
  &:before {
    content: $trusfi-back-in-time;
  }
}
.trusfi-back {
  &:before {
    content: $trusfi-back;
  }
}
.trusfi-bar-graph {
  &:before {
    content: $trusfi-bar-graph;
  }
}
.trusfi-battery {
  &:before {
    content: $trusfi-battery;
  }
}
.trusfi-beamed-note {
  &:before {
    content: $trusfi-beamed-note;
  }
}
.trusfi-bell {
  &:before {
    content: $trusfi-bell;
  }
}
.trusfi-blackboard {
  &:before {
    content: $trusfi-blackboard;
  }
}
.trusfi-block2 {
  &:before {
    content: $trusfi-block2;
  }
}
.trusfi-book2 {
  &:before {
    content: $trusfi-book2;
  }
}
.trusfi-bowl {
  &:before {
    content: $trusfi-bowl;
  }
}
.trusfi-box {
  &:before {
    content: $trusfi-box;
  }
}
.trusfi-briefcase2 {
  &:before {
    content: $trusfi-briefcase2;
  }
}
.trusfi-browser {
  &:before {
    content: $trusfi-browser;
  }
}
.trusfi-brush2 {
  &:before {
    content: $trusfi-brush2;
  }
}
.trusfi-bucket {
  &:before {
    content: $trusfi-bucket;
  }
}
.trusfi-cake2 {
  &:before {
    content: $trusfi-cake2;
  }
}
.trusfi-calculator2 {
  &:before {
    content: $trusfi-calculator2;
  }
}
.trusfi-calendar {
  &:before {
    content: $trusfi-calendar;
  }
}
.trusfi-camera3 {
  &:before {
    content: $trusfi-camera3;
  }
}
.trusfi-ccw {
  &:before {
    content: $trusfi-ccw;
  }
}
.trusfi-chat2 {
  &:before {
    content: $trusfi-chat2;
  }
}
.trusfi-check2 {
  &:before {
    content: $trusfi-check2;
  }
}
.trusfi-circle-with-cross {
  &:before {
    content: $trusfi-circle-with-cross;
  }
}
.trusfi-circle-with-minus {
  &:before {
    content: $trusfi-circle-with-minus;
  }
}
.trusfi-circle-with-plus {
  &:before {
    content: $trusfi-circle-with-plus;
  }
}
.trusfi-circle {
  &:before {
    content: $trusfi-circle;
  }
}
.trusfi-circular-graph {
  &:before {
    content: $trusfi-circular-graph;
  }
}
.trusfi-clapperboard {
  &:before {
    content: $trusfi-clapperboard;
  }
}
.trusfi-clipboard2 {
  &:before {
    content: $trusfi-clipboard2;
  }
}
.trusfi-clock3 {
  &:before {
    content: $trusfi-clock3;
  }
}
.trusfi-code2 {
  &:before {
    content: $trusfi-code2;
  }
}
.trusfi-cog2 {
  &:before {
    content: $trusfi-cog2;
  }
}
.trusfi-colours {
  &:before {
    content: $trusfi-colours;
  }
}
.trusfi-compass2 {
  &:before {
    content: $trusfi-compass2;
  }
}
.trusfi-copy {
  &:before {
    content: $trusfi-copy;
  }
}
.trusfi-credit-card2 {
  &:before {
    content: $trusfi-credit-card2;
  }
}
.trusfi-credit {
  &:before {
    content: $trusfi-credit;
  }
}
.trusfi-cross2 {
  &:before {
    content: $trusfi-cross2;
  }
}
.trusfi-cup {
  &:before {
    content: $trusfi-cup;
  }
}
.trusfi-cw {
  &:before {
    content: $trusfi-cw;
  }
}
.trusfi-cycle {
  &:before {
    content: $trusfi-cycle;
  }
}
.trusfi-database {
  &:before {
    content: $trusfi-database;
  }
}
.trusfi-dial-pad {
  &:before {
    content: $trusfi-dial-pad;
  }
}
.trusfi-direction {
  &:before {
    content: $trusfi-direction;
  }
}
.trusfi-document {
  &:before {
    content: $trusfi-document;
  }
}
.trusfi-documents {
  &:before {
    content: $trusfi-documents;
  }
}
.trusfi-drink {
  &:before {
    content: $trusfi-drink;
  }
}
.trusfi-drive {
  &:before {
    content: $trusfi-drive;
  }
}
.trusfi-drop {
  &:before {
    content: $trusfi-drop;
  }
}
.trusfi-edit {
  &:before {
    content: $trusfi-edit;
  }
}
.trusfi-email {
  &:before {
    content: $trusfi-email;
  }
}
.trusfi-emoji-happy {
  &:before {
    content: $trusfi-emoji-happy;
  }
}
.trusfi-emoji-neutral {
  &:before {
    content: $trusfi-emoji-neutral;
  }
}
.trusfi-emoji-sad {
  &:before {
    content: $trusfi-emoji-sad;
  }
}
.trusfi-erase {
  &:before {
    content: $trusfi-erase;
  }
}
.trusfi-eraser {
  &:before {
    content: $trusfi-eraser;
  }
}
.trusfi-export {
  &:before {
    content: $trusfi-export;
  }
}
.trusfi-eye2 {
  &:before {
    content: $trusfi-eye2;
  }
}
.trusfi-feather {
  &:before {
    content: $trusfi-feather;
  }
}
.trusfi-flag3 {
  &:before {
    content: $trusfi-flag3;
  }
}
.trusfi-flash {
  &:before {
    content: $trusfi-flash;
  }
}
.trusfi-flashlight {
  &:before {
    content: $trusfi-flashlight;
  }
}
.trusfi-flat-brush {
  &:before {
    content: $trusfi-flat-brush;
  }
}
.trusfi-folder-images {
  &:before {
    content: $trusfi-folder-images;
  }
}
.trusfi-folder-music {
  &:before {
    content: $trusfi-folder-music;
  }
}
.trusfi-folder-video {
  &:before {
    content: $trusfi-folder-video;
  }
}
.trusfi-folder3 {
  &:before {
    content: $trusfi-folder3;
  }
}
.trusfi-forward3 {
  &:before {
    content: $trusfi-forward3;
  }
}
.trusfi-funnel {
  &:before {
    content: $trusfi-funnel;
  }
}
.trusfi-game-controller {
  &:before {
    content: $trusfi-game-controller;
  }
}
.trusfi-gauge {
  &:before {
    content: $trusfi-gauge;
  }
}
.trusfi-globe {
  &:before {
    content: $trusfi-globe;
  }
}
.trusfi-graduation-cap {
  &:before {
    content: $trusfi-graduation-cap;
  }
}
.trusfi-grid {
  &:before {
    content: $trusfi-grid;
  }
}
.trusfi-hair-cross {
  &:before {
    content: $trusfi-hair-cross;
  }
}
.trusfi-hand {
  &:before {
    content: $trusfi-hand;
  }
}
.trusfi-heart-outlined {
  &:before {
    content: $trusfi-heart-outlined;
  }
}
.trusfi-heart2 {
  &:before {
    content: $trusfi-heart2;
  }
}
.trusfi-help-with-circle {
  &:before {
    content: $trusfi-help-with-circle;
  }
}
.trusfi-help2 {
  &:before {
    content: $trusfi-help2;
  }
}
.trusfi-home2 {
  &:before {
    content: $trusfi-home2;
  }
}
.trusfi-hour-glass2 {
  &:before {
    content: $trusfi-hour-glass2;
  }
}
.trusfi-image-inverted {
  &:before {
    content: $trusfi-image-inverted;
  }
}
.trusfi-image {
  &:before {
    content: $trusfi-image;
  }
}
.trusfi-images {
  &:before {
    content: $trusfi-images;
  }
}
.trusfi-inbox2 {
  &:before {
    content: $trusfi-inbox2;
  }
}
.trusfi-infinity {
  &:before {
    content: $trusfi-infinity;
  }
}
.trusfi-info-with-circle {
  &:before {
    content: $trusfi-info-with-circle;
  }
}
.trusfi-info2 {
  &:before {
    content: $trusfi-info2;
  }
}
.trusfi-key3 {
  &:before {
    content: $trusfi-key3;
  }
}
.trusfi-keyboard2 {
  &:before {
    content: $trusfi-keyboard2;
  }
}
.trusfi-lab-flask {
  &:before {
    content: $trusfi-lab-flask;
  }
}
.trusfi-landline {
  &:before {
    content: $trusfi-landline;
  }
}
.trusfi-language2 {
  &:before {
    content: $trusfi-language2;
  }
}
.trusfi-laptop2 {
  &:before {
    content: $trusfi-laptop2;
  }
}
.trusfi-leaf2 {
  &:before {
    content: $trusfi-leaf2;
  }
}
.trusfi-level-down {
  &:before {
    content: $trusfi-level-down;
  }
}
.trusfi-level-up {
  &:before {
    content: $trusfi-level-up;
  }
}
.trusfi-lifebuoy2 {
  &:before {
    content: $trusfi-lifebuoy2;
  }
}
.trusfi-light-bulb {
  &:before {
    content: $trusfi-light-bulb;
  }
}
.trusfi-light-down {
  &:before {
    content: $trusfi-light-down;
  }
}
.trusfi-light-up {
  &:before {
    content: $trusfi-light-up;
  }
}
.trusfi-line-graph {
  &:before {
    content: $trusfi-line-graph;
  }
}
.trusfi-link3 {
  &:before {
    content: $trusfi-link3;
  }
}
.trusfi-list4 {
  &:before {
    content: $trusfi-list4;
  }
}
.trusfi-location-pin {
  &:before {
    content: $trusfi-location-pin;
  }
}
.trusfi-location3 {
  &:before {
    content: $trusfi-location3;
  }
}
.trusfi-lock-open {
  &:before {
    content: $trusfi-lock-open;
  }
}
.trusfi-lock3 {
  &:before {
    content: $trusfi-lock3;
  }
}
.trusfi-log-out {
  &:before {
    content: $trusfi-log-out;
  }
}
.trusfi-login {
  &:before {
    content: $trusfi-login;
  }
}
.trusfi-loop {
  &:before {
    content: $trusfi-loop;
  }
}
.trusfi-magnet2 {
  &:before {
    content: $trusfi-magnet2;
  }
}
.trusfi-magnifying-glass {
  &:before {
    content: $trusfi-magnifying-glass;
  }
}
.trusfi-mail {
  &:before {
    content: $trusfi-mail;
  }
}
.trusfi-man {
  &:before {
    content: $trusfi-man;
  }
}
.trusfi-map2 {
  &:before {
    content: $trusfi-map2;
  }
}
.trusfi-mask {
  &:before {
    content: $trusfi-mask;
  }
}
.trusfi-medal {
  &:before {
    content: $trusfi-medal;
  }
}
.trusfi-megaphone {
  &:before {
    content: $trusfi-megaphone;
  }
}
.trusfi-menu2 {
  &:before {
    content: $trusfi-menu2;
  }
}
.trusfi-message2 {
  &:before {
    content: $trusfi-message2;
  }
}
.trusfi-mic3 {
  &:before {
    content: $trusfi-mic3;
  }
}
.trusfi-minus {
  &:before {
    content: $trusfi-minus;
  }
}
.trusfi-mobile2 {
  &:before {
    content: $trusfi-mobile2;
  }
}
.trusfi-modern-mic {
  &:before {
    content: $trusfi-modern-mic;
  }
}
.trusfi-moon {
  &:before {
    content: $trusfi-moon;
  }
}
.trusfi-mouse2 {
  &:before {
    content: $trusfi-mouse2;
  }
}
.trusfi-music {
  &:before {
    content: $trusfi-music;
  }
}
.trusfi-network {
  &:before {
    content: $trusfi-network;
  }
}
.trusfi-new-message {
  &:before {
    content: $trusfi-new-message;
  }
}
.trusfi-new {
  &:before {
    content: $trusfi-new;
  }
}
.trusfi-news {
  &:before {
    content: $trusfi-news;
  }
}
.trusfi-note2 {
  &:before {
    content: $trusfi-note2;
  }
}
.trusfi-notification {
  &:before {
    content: $trusfi-notification;
  }
}
.trusfi-old-mobile {
  &:before {
    content: $trusfi-old-mobile;
  }
}
.trusfi-old-phone {
  &:before {
    content: $trusfi-old-phone;
  }
}
.trusfi-palette2 {
  &:before {
    content: $trusfi-palette2;
  }
}
.trusfi-paper-plane {
  &:before {
    content: $trusfi-paper-plane;
  }
}
.trusfi-pencil {
  &:before {
    content: $trusfi-pencil;
  }
}
.trusfi-phone3 {
  &:before {
    content: $trusfi-phone3;
  }
}
.trusfi-pie-chart2 {
  &:before {
    content: $trusfi-pie-chart2;
  }
}
.trusfi-pin {
  &:before {
    content: $trusfi-pin;
  }
}
.trusfi-plus {
  &:before {
    content: $trusfi-plus;
  }
}
.trusfi-popup {
  &:before {
    content: $trusfi-popup;
  }
}
.trusfi-power-plug {
  &:before {
    content: $trusfi-power-plug;
  }
}
.trusfi-price-ribbon {
  &:before {
    content: $trusfi-price-ribbon;
  }
}
.trusfi-price-tag2 {
  &:before {
    content: $trusfi-price-tag2;
  }
}
.trusfi-print2 {
  &:before {
    content: $trusfi-print2;
  }
}
.trusfi-progress-empty {
  &:before {
    content: $trusfi-progress-empty;
  }
}
.trusfi-progress-full {
  &:before {
    content: $trusfi-progress-full;
  }
}
.trusfi-progress-one {
  &:before {
    content: $trusfi-progress-one;
  }
}
.trusfi-progress-two {
  &:before {
    content: $trusfi-progress-two;
  }
}
.trusfi-publish2 {
  &:before {
    content: $trusfi-publish2;
  }
}
.trusfi-quote {
  &:before {
    content: $trusfi-quote;
  }
}
.trusfi-radio2 {
  &:before {
    content: $trusfi-radio2;
  }
}
.trusfi-reply-all {
  &:before {
    content: $trusfi-reply-all;
  }
}
.trusfi-reply3 {
  &:before {
    content: $trusfi-reply3;
  }
}
.trusfi-retweet {
  &:before {
    content: $trusfi-retweet;
  }
}
.trusfi-rocket2 {
  &:before {
    content: $trusfi-rocket2;
  }
}
.trusfi-round-brush {
  &:before {
    content: $trusfi-round-brush;
  }
}
.trusfi-rss3 {
  &:before {
    content: $trusfi-rss3;
  }
}
.trusfi-ruler {
  &:before {
    content: $trusfi-ruler;
  }
}
.trusfi-scissors2 {
  &:before {
    content: $trusfi-scissors2;
  }
}
.trusfi-share-alternitive {
  &:before {
    content: $trusfi-share-alternitive;
  }
}
.trusfi-share3 {
  &:before {
    content: $trusfi-share3;
  }
}
.trusfi-shareable {
  &:before {
    content: $trusfi-shareable;
  }
}
.trusfi-shield2 {
  &:before {
    content: $trusfi-shield2;
  }
}
.trusfi-shop2 {
  &:before {
    content: $trusfi-shop2;
  }
}
.trusfi-shopping-bag {
  &:before {
    content: $trusfi-shopping-bag;
  }
}
.trusfi-shopping-basket {
  &:before {
    content: $trusfi-shopping-basket;
  }
}
.trusfi-shopping-cart {
  &:before {
    content: $trusfi-shopping-cart;
  }
}
.trusfi-shuffle2 {
  &:before {
    content: $trusfi-shuffle2;
  }
}
.trusfi-signal {
  &:before {
    content: $trusfi-signal;
  }
}
.trusfi-sound-mix {
  &:before {
    content: $trusfi-sound-mix;
  }
}
.trusfi-sports-club {
  &:before {
    content: $trusfi-sports-club;
  }
}
.trusfi-spreadsheet {
  &:before {
    content: $trusfi-spreadsheet;
  }
}
.trusfi-squared-cross {
  &:before {
    content: $trusfi-squared-cross;
  }
}
.trusfi-squared-minus {
  &:before {
    content: $trusfi-squared-minus;
  }
}
.trusfi-squared-plus {
  &:before {
    content: $trusfi-squared-plus;
  }
}
.trusfi-star-outlined {
  &:before {
    content: $trusfi-star-outlined;
  }
}
.trusfi-star2 {
  &:before {
    content: $trusfi-star2;
  }
}
.trusfi-stopwatch {
  &:before {
    content: $trusfi-stopwatch;
  }
}
.trusfi-suitcase {
  &:before {
    content: $trusfi-suitcase;
  }
}
.trusfi-swap {
  &:before {
    content: $trusfi-swap;
  }
}
.trusfi-sweden {
  &:before {
    content: $trusfi-sweden;
  }
}
.trusfi-switch2 {
  &:before {
    content: $trusfi-switch2;
  }
}
.trusfi-tablet2 {
  &:before {
    content: $trusfi-tablet2;
  }
}
.trusfi-tag {
  &:before {
    content: $trusfi-tag;
  }
}
.trusfi-text-document-inverted {
  &:before {
    content: $trusfi-text-document-inverted;
  }
}
.trusfi-text-document {
  &:before {
    content: $trusfi-text-document;
  }
}
.trusfi-text {
  &:before {
    content: $trusfi-text;
  }
}
.trusfi-thermometer {
  &:before {
    content: $trusfi-thermometer;
  }
}
.trusfi-thumbs-down {
  &:before {
    content: $trusfi-thumbs-down;
  }
}
.trusfi-thumbs-up {
  &:before {
    content: $trusfi-thumbs-up;
  }
}
.trusfi-thunder-cloud {
  &:before {
    content: $trusfi-thunder-cloud;
  }
}
.trusfi-ticket2 {
  &:before {
    content: $trusfi-ticket2;
  }
}
.trusfi-time-slot {
  &:before {
    content: $trusfi-time-slot;
  }
}
.trusfi-tools {
  &:before {
    content: $trusfi-tools;
  }
}
.trusfi-traffic-cone {
  &:before {
    content: $trusfi-traffic-cone;
  }
}
.trusfi-tree {
  &:before {
    content: $trusfi-tree;
  }
}
.trusfi-trophy2 {
  &:before {
    content: $trusfi-trophy2;
  }
}
.trusfi-tv3 {
  &:before {
    content: $trusfi-tv3;
  }
}
.trusfi-typing {
  &:before {
    content: $trusfi-typing;
  }
}
.trusfi-unread {
  &:before {
    content: $trusfi-unread;
  }
}
.trusfi-untag {
  &:before {
    content: $trusfi-untag;
  }
}
.trusfi-user2 {
  &:before {
    content: $trusfi-user2;
  }
}
.trusfi-users2 {
  &:before {
    content: $trusfi-users2;
  }
}
.trusfi-v-card {
  &:before {
    content: $trusfi-v-card;
  }
}
.trusfi-video {
  &:before {
    content: $trusfi-video;
  }
}
.trusfi-vinyl {
  &:before {
    content: $trusfi-vinyl;
  }
}
.trusfi-voicemail2 {
  &:before {
    content: $trusfi-voicemail2;
  }
}
.trusfi-wallet {
  &:before {
    content: $trusfi-wallet;
  }
}
.trusfi-water {
  &:before {
    content: $trusfi-water;
  }
}
.trusfi-facebook3 {
  &:before {
    content: $trusfi-facebook3;
  }
}
.trusfi-outlook {
  &:before {
    content: $trusfi-outlook;
  }
}
.trusfi-rating-star-outline {
  &:before {
    content: $trusfi-rating-star-outline;
  }
}
.trusfi-rating-star {
  &:before {
    content: $trusfi-rating-star;
  }
}
.trusfi-rating-fill {
  &:before {
    content: $trusfi-rating-fill;
  }
}
.trusfi-rating-smile {
  &:before {
    content: $trusfi-rating-smile;
  }
}
.trusfi-newspaper {
  &:before {
    content: $trusfi-newspaper;
  }
}
.trusfi-quill {
  &:before {
    content: $trusfi-quill;
  }
}
.trusfi-camera {
  &:before {
    content: $trusfi-camera;
  }
}
.trusfi-film {
  &:before {
    content: $trusfi-film;
  }
}
.trusfi-mic {
  &:before {
    content: $trusfi-mic;
  }
}
.trusfi-book {
  &:before {
    content: $trusfi-book;
  }
}
.trusfi-books {
  &:before {
    content: $trusfi-books;
  }
}
.trusfi-library {
  &:before {
    content: $trusfi-library;
  }
}
.trusfi-file-empty {
  &:before {
    content: $trusfi-file-empty;
  }
}
.trusfi-files-empty {
  &:before {
    content: $trusfi-files-empty;
  }
}
.trusfi-file-text2 {
  &:before {
    content: $trusfi-file-text2;
  }
}
.trusfi-file-picture {
  &:before {
    content: $trusfi-file-picture;
  }
}
.trusfi-file-music {
  &:before {
    content: $trusfi-file-music;
  }
}
.trusfi-file-play {
  &:before {
    content: $trusfi-file-play;
  }
}
.trusfi-file-video {
  &:before {
    content: $trusfi-file-video;
  }
}
.trusfi-folder {
  &:before {
    content: $trusfi-folder;
  }
}
.trusfi-folder-open {
  &:before {
    content: $trusfi-folder-open;
  }
}
.trusfi-folder-plus {
  &:before {
    content: $trusfi-folder-plus;
  }
}
.trusfi-folder-minus {
  &:before {
    content: $trusfi-folder-minus;
  }
}
.trusfi-folder-download {
  &:before {
    content: $trusfi-folder-download;
  }
}
.trusfi-folder-upload {
  &:before {
    content: $trusfi-folder-upload;
  }
}
.trusfi-price-tag {
  &:before {
    content: $trusfi-price-tag;
  }
}
.trusfi-price-tags {
  &:before {
    content: $trusfi-price-tags;
  }
}
.trusfi-ticket {
  &:before {
    content: $trusfi-ticket;
  }
}
.trusfi-cart {
  &:before {
    content: $trusfi-cart;
  }
}
.trusfi-credit-card {
  &:before {
    content: $trusfi-credit-card;
  }
}
.trusfi-calculator {
  &:before {
    content: $trusfi-calculator;
  }
}
.trusfi-lifebuoy {
  &:before {
    content: $trusfi-lifebuoy;
  }
}
.trusfi-phone {
  &:before {
    content: $trusfi-phone;
  }
}
.trusfi-phone-hang-up {
  &:before {
    content: $trusfi-phone-hang-up;
  }
}
.trusfi-address-book {
  &:before {
    content: $trusfi-address-book;
  }
}
.trusfi-location {
  &:before {
    content: $trusfi-location;
  }
}
.trusfi-location2 {
  &:before {
    content: $trusfi-location2;
  }
}
.trusfi-compass {
  &:before {
    content: $trusfi-compass;
  }
}
.trusfi-clock {
  &:before {
    content: $trusfi-clock;
  }
}
.trusfi-clock2 {
  &:before {
    content: $trusfi-clock2;
  }
}
.trusfi-alarm {
  &:before {
    content: $trusfi-alarm;
  }
}
.trusfi-printer {
  &:before {
    content: $trusfi-printer;
  }
}
.trusfi-display {
  &:before {
    content: $trusfi-display;
  }
}
.trusfi-mobile {
  &:before {
    content: $trusfi-mobile;
  }
}
.trusfi-tv {
  &:before {
    content: $trusfi-tv;
  }
}
.trusfi-drawer {
  &:before {
    content: $trusfi-drawer;
  }
}
.trusfi-drawer2 {
  &:before {
    content: $trusfi-drawer2;
  }
}
.trusfi-box-add {
  &:before {
    content: $trusfi-box-add;
  }
}
.trusfi-box-remove {
  &:before {
    content: $trusfi-box-remove;
  }
}
.trusfi-undo {
  &:before {
    content: $trusfi-undo;
  }
}
.trusfi-redo {
  &:before {
    content: $trusfi-redo;
  }
}
.trusfi-undo2 {
  &:before {
    content: $trusfi-undo2;
  }
}
.trusfi-redo2 {
  &:before {
    content: $trusfi-redo2;
  }
}
.trusfi-forward {
  &:before {
    content: $trusfi-forward;
  }
}
.trusfi-reply {
  &:before {
    content: $trusfi-reply;
  }
}
.trusfi-user {
  &:before {
    content: $trusfi-user;
  }
}
.trusfi-users {
  &:before {
    content: $trusfi-users;
  }
}
.trusfi-user-plus {
  &:before {
    content: $trusfi-user-plus;
  }
}
.trusfi-user-minus {
  &:before {
    content: $trusfi-user-minus;
  }
}
.trusfi-hour-glass {
  &:before {
    content: $trusfi-hour-glass;
  }
}
.trusfi-binoculars {
  &:before {
    content: $trusfi-binoculars;
  }
}
.trusfi-search {
  &:before {
    content: $trusfi-search;
  }
}
.trusfi-zoom-in {
  &:before {
    content: $trusfi-zoom-in;
  }
}
.trusfi-zoom-out {
  &:before {
    content: $trusfi-zoom-out;
  }
}
.trusfi-enlarge {
  &:before {
    content: $trusfi-enlarge;
  }
}
.trusfi-shrink {
  &:before {
    content: $trusfi-shrink;
  }
}
.trusfi-enlarge2 {
  &:before {
    content: $trusfi-enlarge2;
  }
}
.trusfi-shrink2 {
  &:before {
    content: $trusfi-shrink2;
  }
}
.trusfi-key {
  &:before {
    content: $trusfi-key;
  }
}
.trusfi-key2 {
  &:before {
    content: $trusfi-key2;
  }
}
.trusfi-lock {
  &:before {
    content: $trusfi-lock;
  }
}
.trusfi-unlocked {
  &:before {
    content: $trusfi-unlocked;
  }
}
.trusfi-wrench {
  &:before {
    content: $trusfi-wrench;
  }
}
.trusfi-equalizer {
  &:before {
    content: $trusfi-equalizer;
  }
}
.trusfi-equalizer2 {
  &:before {
    content: $trusfi-equalizer2;
  }
}
.trusfi-cog {
  &:before {
    content: $trusfi-cog;
  }
}
.trusfi-cogs {
  &:before {
    content: $trusfi-cogs;
  }
}
.trusfi-magic-wand {
  &:before {
    content: $trusfi-magic-wand;
  }
}
.trusfi-aid-kit {
  &:before {
    content: $trusfi-aid-kit;
  }
}
.trusfi-pie-chart {
  &:before {
    content: $trusfi-pie-chart;
  }
}
.trusfi-trophy {
  &:before {
    content: $trusfi-trophy;
  }
}
.trusfi-gift {
  &:before {
    content: $trusfi-gift;
  }
}
.trusfi-glass {
  &:before {
    content: $trusfi-glass;
  }
}
.trusfi-glass2 {
  &:before {
    content: $trusfi-glass2;
  }
}
.trusfi-mug {
  &:before {
    content: $trusfi-mug;
  }
}
.trusfi-spoon-knife {
  &:before {
    content: $trusfi-spoon-knife;
  }
}
.trusfi-leaf {
  &:before {
    content: $trusfi-leaf;
  }
}
.trusfi-rocket {
  &:before {
    content: $trusfi-rocket;
  }
}
.trusfi-fire {
  &:before {
    content: $trusfi-fire;
  }
}
.trusfi-lab {
  &:before {
    content: $trusfi-lab;
  }
}
.trusfi-magnet {
  &:before {
    content: $trusfi-magnet;
  }
}
.trusfi-bin {
  &:before {
    content: $trusfi-bin;
  }
}
.trusfi-bin2 {
  &:before {
    content: $trusfi-bin2;
  }
}
.trusfi-briefcase {
  &:before {
    content: $trusfi-briefcase;
  }
}
.trusfi-airplane {
  &:before {
    content: $trusfi-airplane;
  }
}
.trusfi-road {
  &:before {
    content: $trusfi-road;
  }
}
.trusfi-shield {
  &:before {
    content: $trusfi-shield;
  }
}
.trusfi-power {
  &:before {
    content: $trusfi-power;
  }
}
.trusfi-switch {
  &:before {
    content: $trusfi-switch;
  }
}
.trusfi-power-cord {
  &:before {
    content: $trusfi-power-cord;
  }
}
.trusfi-clipboard {
  &:before {
    content: $trusfi-clipboard;
  }
}
.trusfi-list-numbered {
  &:before {
    content: $trusfi-list-numbered;
  }
}
.trusfi-list {
  &:before {
    content: $trusfi-list;
  }
}
.trusfi-list2 {
  &:before {
    content: $trusfi-list2;
  }
}
.trusfi-cloud {
  &:before {
    content: $trusfi-cloud;
  }
}
.trusfi-cloud-download {
  &:before {
    content: $trusfi-cloud-download;
  }
}
.trusfi-cloud-upload {
  &:before {
    content: $trusfi-cloud-upload;
  }
}
.trusfi-cloud-check {
  &:before {
    content: $trusfi-cloud-check;
  }
}
.trusfi-download2 {
  &:before {
    content: $trusfi-download2;
  }
}
.trusfi-upload2 {
  &:before {
    content: $trusfi-upload2;
  }
}
.trusfi-download3 {
  &:before {
    content: $trusfi-download3;
  }
}
.trusfi-upload3 {
  &:before {
    content: $trusfi-upload3;
  }
}
.trusfi-sphere {
  &:before {
    content: $trusfi-sphere;
  }
}
.trusfi-earth {
  &:before {
    content: $trusfi-earth;
  }
}
.trusfi-link {
  &:before {
    content: $trusfi-link;
  }
}
.trusfi-flag {
  &:before {
    content: $trusfi-flag;
  }
}
.trusfi-attachment {
  &:before {
    content: $trusfi-attachment;
  }
}
.trusfi-eye {
  &:before {
    content: $trusfi-eye;
  }
}
.trusfi-eye-plus {
  &:before {
    content: $trusfi-eye-plus;
  }
}
.trusfi-eye-minus {
  &:before {
    content: $trusfi-eye-minus;
  }
}
.trusfi-eye-blocked {
  &:before {
    content: $trusfi-eye-blocked;
  }
}
.trusfi-bookmark {
  &:before {
    content: $trusfi-bookmark;
  }
}
.trusfi-bookmarks {
  &:before {
    content: $trusfi-bookmarks;
  }
}
.trusfi-heart {
  &:before {
    content: $trusfi-heart;
  }
}
.trusfi-heart-broken {
  &:before {
    content: $trusfi-heart-broken;
  }
}
.trusfi-cancel-circle {
  &:before {
    content: $trusfi-cancel-circle;
  }
}
.trusfi-blocked {
  &:before {
    content: $trusfi-blocked;
  }
}
.trusfi-cross {
  &:before {
    content: $trusfi-cross;
  }
}
.trusfi-checkmark {
  &:before {
    content: $trusfi-checkmark;
  }
}
.trusfi-checkmark2 {
  &:before {
    content: $trusfi-checkmark2;
  }
}
.trusfi-infinite {
  &:before {
    content: $trusfi-infinite;
  }
}
.trusfi-circle-up {
  &:before {
    content: $trusfi-circle-up;
  }
}
.trusfi-circle-right {
  &:before {
    content: $trusfi-circle-right;
  }
}
.trusfi-circle-down {
  &:before {
    content: $trusfi-circle-down;
  }
}
.trusfi-circle-left {
  &:before {
    content: $trusfi-circle-left;
  }
}
.trusfi-command {
  &:before {
    content: $trusfi-command;
  }
}
.trusfi-checkbox-checked {
  &:before {
    content: $trusfi-checkbox-checked;
  }
}
.trusfi-radio-checked {
  &:before {
    content: $trusfi-radio-checked;
  }
}
.trusfi-radio-checked2 {
  &:before {
    content: $trusfi-radio-checked2;
  }
}
.trusfi-radio-unchecked {
  &:before {
    content: $trusfi-radio-unchecked;
  }
}
.trusfi-crop {
  &:before {
    content: $trusfi-crop;
  }
}
.trusfi-make-group {
  &:before {
    content: $trusfi-make-group;
  }
}
.trusfi-ungroup {
  &:before {
    content: $trusfi-ungroup;
  }
}
.trusfi-scissors {
  &:before {
    content: $trusfi-scissors;
  }
}
.trusfi-page-break {
  &:before {
    content: $trusfi-page-break;
  }
}
.trusfi-insert-template {
  &:before {
    content: $trusfi-insert-template;
  }
}
.trusfi-share {
  &:before {
    content: $trusfi-share;
  }
}
.trusfi-new-tab {
  &:before {
    content: $trusfi-new-tab;
  }
}
.trusfi-google {
  &:before {
    content: $trusfi-google;
  }
}
.trusfi-google2 {
  &:before {
    content: $trusfi-google2;
  }
}
.trusfi-google3 {
  &:before {
    content: $trusfi-google3;
  }
}
.trusfi-google-plus {
  &:before {
    content: $trusfi-google-plus;
  }
}
.trusfi-google-plus2 {
  &:before {
    content: $trusfi-google-plus2;
  }
}
.trusfi-google-plus3 {
  &:before {
    content: $trusfi-google-plus3;
  }
}
.trusfi-facebook {
  &:before {
    content: $trusfi-facebook;
  }
}
.trusfi-facebook2 {
  &:before {
    content: $trusfi-facebook2;
  }
}
.trusfi-instagram {
  &:before {
    content: $trusfi-instagram;
  }
}
.trusfi-twitter {
  &:before {
    content: $trusfi-twitter;
  }
}
.trusfi-vk {
  &:before {
    content: $trusfi-vk;
  }
}
.trusfi-rss {
  &:before {
    content: $trusfi-rss;
  }
}
.trusfi-rss2 {
  &:before {
    content: $trusfi-rss2;
  }
}
.trusfi-youtube {
  &:before {
    content: $trusfi-youtube;
  }
}
.trusfi-youtube2 {
  &:before {
    content: $trusfi-youtube2;
  }
}
.trusfi-github {
  &:before {
    content: $trusfi-github;
  }
}
.trusfi-tumblr {
  &:before {
    content: $trusfi-tumblr;
  }
}
.trusfi-tumblr2 {
  &:before {
    content: $trusfi-tumblr2;
  }
}
.trusfi-yahoo {
  &:before {
    content: $trusfi-yahoo;
  }
}
.trusfi-yahoo2 {
  &:before {
    content: $trusfi-yahoo2;
  }
}
.trusfi-linkedin {
  &:before {
    content: $trusfi-linkedin;
  }
}
.trusfi-linkedin2 {
  &:before {
    content: $trusfi-linkedin2;
  }
}
.trusfi-pinterest {
  &:before {
    content: $trusfi-pinterest;
  }
}
.trusfi-pinterest2 {
  &:before {
    content: $trusfi-pinterest2;
  }
}
.trusfi-chrome {
  &:before {
    content: $trusfi-chrome;
  }
}
.trusfi-firefox {
  &:before {
    content: $trusfi-firefox;
  }
}
.trusfi-IE {
  &:before {
    content: $trusfi-IE;
  }
}
.trusfi-edge {
  &:before {
    content: $trusfi-edge;
  }
}
.trusfi-safari {
  &:before {
    content: $trusfi-safari;
  }
}
.trusfi-opera {
  &:before {
    content: $trusfi-opera;
  }
}
.trusfi-file-pdf {
  &:before {
    content: $trusfi-file-pdf;
  }
}
.trusfi-file-openoffice {
  &:before {
    content: $trusfi-file-openoffice;
  }
}
.trusfi-file-word {
  &:before {
    content: $trusfi-file-word;
  }
}
.trusfi-file-excel {
  &:before {
    content: $trusfi-file-excel;
  }
}
.trusfi-libreoffice {
  &:before {
    content: $trusfi-libreoffice;
  }
}
